.simplemenu-block, #admin-menum, .alertBar, .tabs-wrapper {
  display: none !important;
}

body.admin-menu {
  margin: 0 !important;
}
body.page-oembed #admin-menu {
  display: none;
}
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 /* Custom styles */
 html, body {
   width: 100%;
   height: 100%;*/
   margin: 0;
   padding: 0;
 }

 body {
  position: relative;
  line-height: 1.5;
  font-family: Arial, STKaiti, "华文楷体", KaiTi, "楷体", SimKai, "中易楷体", FangSong, "仿宋", sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  -mos-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

iframe {
  width: 100% !important;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: #256d99;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Open Sans', Arial, sans-serif, STKaiti, "华文楷体", SimKai, "中易楷体";
}

h2 {
  font-size: 1.5em;
}

p {
  margin: 0 0 1em 0;
}

.date {
  font-size: 12px;
}

/* Ul and ol reset messes up display in content. */
.content ul {
  padding: 0 0 0 20px;
  list-style-type: disc;
}

.content ol {
  padding: 0 0 0 20px;
  list-style-type: decimal;
}

/* Layout */
#sidebar-left {
  background: #EDEDED;
  width: 90%;
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  z-index: 200;
  -webkit-overflow-scrolling: touch;
     -moz-overflow-scrolling: touch;
       -o-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 10px #515151;
     -moz-box-shadow: 0 0 10px #515151;
          box-shadow: 0 0 10px #515151;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-transform-style: preserve-3d;
     -moz-backface-transform-style: preserve-3d;
          backface-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

#sidebar-left.transition {
  -webkit-transition: 0.25s ease-in, width 0.15s ease-in 0.25s;
     -moz-transition: 0.25s ease-in, width 0.15s ease-in 0.25s;
       -o-transition: 0.25s ease-in, width 0.15s ease-in 0.25s;
          transition: 0.25s ease-in, width 0.15s ease-in 0.25s;
}

#sidebar-left.hidden {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-box-shadow: 0 0 0 #515151;
     -moz-box-shadow: 0 0 0 #515151;
          box-shadow: 0 0 0 #515151;
}

#sidebar-right {
  display: none;
}

#nav-header, #user-header {
  height: 43px;
}

#user-header {
}

#main {
  background: #fff;
  width: 100%;
  padding: 20px 0 0 0;
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
     -moz-overflow-scrolling: touch;
       -o-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-transform-style: preserve-3d;
     -moz-backface-transform-style: preserve-3d;
          backface-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

#main.transition {
  -webkit-transition: 0.25s ease-in;
     -moz-transition: 0.25s ease-in;
       -o-transition: 0.25s ease-in;
          transition: 0.25s ease-in;
}

body.page-oembed #main {
  padding: 0;
  top: 0;
  position: static;
  overflow-y: unset;
  transform: none;
}

body.page-oembed #main.transition {
    -webkit-transition: unset;
       -moz-transition: unset;
         -o-transition: unset;
            transition: unset
}

html.oembed, html.oembed body{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

body.page-oembed, body.page-oembed #page-title, body.page-oembed .author {
  margin: 0;
  padding: 0;
}

body.page-oembed .content-wrapper {
  overflow: unset;
  width: auto;
}

html body.page-oembed {
  position: static;
  height: auto;
}

.content {
  padding: 0;
  line-height: 1.5;
}

.content-wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 650px;
  width: 85%;
/*  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);*/
}

/* Headers */
.header {
  position: fixed;
  width: 100%;
  z-index: 300;
  background: #20588F;
  height: 44px;
  top: 0;
}

.btn {
  padding: 7px 10px;
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  font-size: 20px;
  margin: 5px;
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.45);
  text-decoration: none;
  float: left;
}

.btn.right {
  float: right;
}

.h-menu, .h-title {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  display: block;
  width: 50%;
  padding-top: 9px;
}

.h-menu ul li {
  display: inline-block;
}

.h-menu ul li a {
  color: #143c55;
  text-decoration: none;
  font-size: 21px;
  margin: 0 5px;
}

.h-menu ul li a i {
  width: 1.5em;
}

.h-menu ul li a:hover, .h-menu ul li a.open {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  margin: 0 5px;
}

.h-menu ul li a:hover i, .h-menu ul li a.open i {
  text-shadow: 1px 1px 0 rgba(0,0,0,.45);
}

.h-title {
  width: 100%;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Footer */


footer a {
  color: #fff;
}

/* header dropdowns */
.dropdown {
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top,  #444444 0%, #222222 20%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(20%,#222222), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #444444 0%,#222222 20%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #444444 0%,#222222 20%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #444444 0%,#222222 20%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #444444 0%,#222222 20%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);

  width: 96%;
  max-height: 80%;
  margin-left: -48%;
  padding: 5px;
  position: fixed;
  top: 54px;
  left: 50%;
  z-index: 10;
  display: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.dropdown.active {
  display: block;
}

#header_search.dropdown:after {
  left: 39%;
}

#language_selector.dropdown:after {
  left: 59%;
}

#header_search .container-inline {
  padding: 5px;
}

#header_search input {
  width: 100%;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  font-size: 15px;
}

#header_search #edit-submit-1 {
  display: none;
}

.front-header {
  margin-left: 5px;
  margin-top: 10px;
}

.front-header img {
  max-width: 100%;
}

.dropdown .scrollable {
  max-height: 300px;
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
     -moz-overflow-scrolling: touch;
       -o-overflow-scrolling: touch;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -o-box-shadow: 3px 3px 4px -3px rgba(0,0,0,.5) inset;
  -moz-box-shadow: 3px 3px 4px -3px rgba(0,0,0,.5) inset;
  -webkit-box-shadow: 3px 3px 4px -3px rgba(0,0,0,.5) inset;
  box-shadow: 3px 3px 4px -3px rgba(0,0,0,.5) inset;
}

.dropdown h2 {
  margin: 0;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 0 #000;
}

.dropdown fieldset {
  margin: 0
}

.dropdown fieldset.subject_dropdown legend,
.ui-list-fakeheader {
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  text-indent: 15px;
  background: #20588F;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.dropdown fieldset.subject_dropdown ul li a,
.dropdown fieldset.language_switcher ul li a {
  color: #000;
  line-height: 45px;
  border-bottom: 1px solid #eee;
  text-indent: 15px;
  font-size: 14px;
  display: block;
}

.dropdown fieldset.subject_dropdown ul li a .beta {
  line-height: 20px;
  text-indent: 0;
}

.heading {
  margin: 5px;
  display: block;
  line-height: 32px;
  color: #fff;
  text-align: center;
}

.breadcrumb {
  margin-top: 10px;
}


h1.page-title {
  font-size: 1.7em;
  line-height: 1.2em;
  margin: 0 30px 0 10px;
  padding: 0;
}

.submitted {
  display: none;
}

.readspeaker_custom_play {
  color: #20588F;
  float: right;
  cursor: pointer;
  font-size: 16px;
  margin: -38px 10px 10px 10px;
}

.paragraph {
  clear: both;
}

.paragraph .slider {
  clear: both;
  margin-top: 3em;
}

.paragraph .slider i {
  color: #000;
  margin-right: 0.3em;
}

ul.tabs {
  padding: 0;
  margin: 0;
}
ul.tabs li {
  float: left;
  margin-right: 10px;
}

.slider .content {
  display: none;
}

img {
  /*max-width: 100%;*/
  height: auto;
}

.contentbrowser img {
  width: 100% !important;
  max-width: 100%;
}

body.page-oembed .contentbrowser, body.page-oembed .contentbrowser img {
  width: auto !important;
  max-width: 100% !important;
}
/*
** Sidebar blocks
*/
.sidebar .block h2 {
  padding: 0 15px;
  color: #fff;
  line-height: 45px;
  display: block;
  margin: 0
}

/* Subject startpage */
.subjects {
  margin: 0 5px 20px;
}

.user-recommends {
  clear: both;
}

div.recommend ul li {
  clear: left;
}
.utdanning_rdf_fieldset h2 {
  clear: both;
  font-size: 16px;
}

.relatedContent h3 {
  clear: both;
  border-bottom: 1px solid #366AA9;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
}

.relatedContent img {
  margin: 0 10px 10px 0;
  float: left;
}

.relatedContent ul {
  display: block;
  float: left;
  overflow: hidden;
  margin-bottom: 15px;
}

.relatedContent li {
  float: left;
  font-size: 14px;
  color: #0F0F0F;
  line-height: 40px;
  clear: both;
}

.relatedContent li a {
  text-decoration: none;
  font-weight: bold;
}


/*
** Collapsing fieldsets
*/

legend {
  position: relative;
}

html.js fieldset.collapsed {
  height: auto;
  padding: 0;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 15px; /* LTR */
  color: #fff;
  text-decoration: none;
}
html.js fieldset.collapsible legend a:after {
  display: inline-block;
  content: "\F106";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  color: #000;
  right: 15px;
  top: 0px;
}
html.js fieldset.collapsed legend a {
  background-position: 5px 50%; /* LTR */
}
html.js fieldset.collapsed legend a:after {
  content: "\F107";
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
/* For Safari 2 to prevent collapsible fieldsets containing tables from dissapearing due to tableheader.js. */
html.js fieldset.collapsible {
  position: relative;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset.subject_dropdown {
  margin-top: 5px;
}
fieldset.subject_dropdown.collapsed legend {
  background: #20588F;
}
fieldset.subject_dropdown.second.collapsed legend {
  background: #20588F;
}
fieldset.subject_dropdown.third.collapsed legend {
  background: #20588F;
}
fieldset.subject_dropdown legend {
  font-size: 1.1em;
  background: #20588F;
  width: 100%;
  display: block;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

fieldset.subject_dropdown legend a {
  text-decoration: none;
  color: #fff;
}

fieldset.subject_dropdown .fieldset-wrapper {
  padding: 15px;
}

/* Twitter block fix for IOS */
fieldset.subject_dropdown.twitter .fieldset-wrapper, fieldset.subject_dropdown.facebook .fieldset-wrapper {
  padding: 0;
}

fieldset.subject_dropdown ul {
  margin: 0;
  padding: 0;
}

fieldset.subject_dropdown ul li a {
  text-decoration: none;
  line-height: 20px;
  margin: 5px;
  padding: 5px;
  float: left;
  display: block;
  width: 45%;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #EDEDED
}

fieldset.subject_dropdown ul li a:hover {
  text-decoration: underline;
}

.fb-like-box {
  width: 100% !important;
}

.fb-like-box span {
  width: 100% !important;
}

fieldset.subject_dropdown ul li .beta {
  display: inline;
  float: right;

  background-color: #EDEDED;
  
  color: #999;
  padding: 0 10px 0 7px;
  margin-left: 10px;

  font-size: 10px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none !important;

  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

span.beta i {
  margin-right: 2px;
}

.slider > a {
  background: #86BFE2;
  color: #fff;
  display: block;
  line-height: 45px;
  padding: 0 15px;
  cursor: pointer;
}

.slider a.hide {
  display: none;
}

.slider .content {
  padding: 0;
}

.actuality {
  float: right;
  top: 14px;
  right: 16px;
  display: block;
  width: 48px;
  height: 48px;
  background: url("../img/sprites.png") no-repeat 0 -600px;
}
.actuality:hover {
  background-position: -48px -600px;
}

.new-content-image-wrapper img {
  min-width: 75px;
}

.new-content-image-wrapper {
  float: left;
  height: 75px;
  overflow: hidden;
  width: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.new-content li {
  clear: left;
}

.feedback-icon {
  font-size: 12px;
  float: right;
  margin: 20px;
  text-decoration: none;
}

.feedback-icon {
  font-size: 12px;
  float: right;
  margin: 20px;
  text-decoration: none;
}

.applications-wrapper {
  margin: 0 auto;
  width: 415px;
}
.applications {
  width: 128px;
  float: left;
}

.applications img {
  width: 128px;
  float: left;
  margin: 0 auto;
}

.fb_reset {
  clear: both;
}

#block-ndla_handheld-handheld_login li {
  background-color: #333;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #444;
  color: #eee;
  font-size: 12px;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 500;
}

#block-ndla_handheld-handheld_login .logged_in {
  display: none;
}

#block-ndla_handheld-handheld_login i {
  margin-right: 10px;
}

#block-ndla_handheld-handheld_login a {
  text-decoration: none;
}

#block-ndla_handheld-handheld_login a:hover {
  text-decoration: underline;
}

#block-ndla_handheld-handheld_login .profile-image {
  height: 20px;
  width: auto;
  float: left;
  margin-right: 7px;
}

.node-type-fag #left-blocks {
  margin: 0 10px;
}

.node-type-fag #left-blocks h2.block-tab {
  color: white;
  background-color: #20588F;
  padding: 10px;
}

.node-type-fag .recommend h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.node-type-fag .recommend h3 a {
  text-decoration: none;
}

.node-type-fag .new-content {
  font-size: 14px;
}

.node-type-fag #twitter-block {
  margin: 0 10px;

}
.node-type-fag #twitter-block h2.block-tab {
  color: white;
  background-color: #20588F;
  padding: 10px;
}

.node-type-fag #twitter-block h2.block-tab i {
  margin-right: 10px;
}

div.node-tabs-wrapper {
  margin: 20px 0;
}

.node-type-fag div.node-tabs-after {
  display: none;
}

.node-type-fag .full h2, .node-type-fag #editorial-right h2 {
  font-size: 16px;
}

.node-type-fag .full p, .node-type-fag #editorial-right p {
  font-size: 14px;
}

.page-node .contentbrowser_link_text {
  font-size: 12px;
  line-height: normal;
}

.page-node .contentbrowser_caption {
  font-size: 12px;
  line-height: normal;
}

.node-type-fag .contentbrowser_link_text {
  font-size: 12px;
}

.node-type-fag #editorial {
  margin: 0 10px;
}

ul.node-tabs {
  display: none;
  clear: both;
  overflow: auto;
  box-shadow: inset 0 -3px 0 #DDD;
}

ul.node-tabs li {
  float: left;
}

ul.node-tabs li span {
  display: block;
  line-height: 20px;
  padding: 0 10px 0 10px;
  /*border-bottom: 3px solid #999;*/
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
}

ul.node-tabs li.active span {
  border-bottom: 3px solid #366A9A;
  color: #999;
  font-weight: bolder;
}

.tab-context {
  display: none;
}

.tab-partof {
  display: none;
  margin: 0 10px;
}

.tab-partof .partof-parent-headline {
  font-size: 16px; 
  font-weight: bolder;
  text-transform: uppercase;
  color: #366A9A;
  margin: 10px 0 0 0;
  padding: 0;
}

.tab-partof .partof-parent-headline a {
  text-decoration: none;
  color: #366A9A;

}
.tab-partof .partof-item a {
  color: #050505;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
}


legend {
  background: #20588F;
  color: #fff;
  display: block;
  line-height: 45px;
  cursor: pointer;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
}

div.author {
  margin: 0 0 0 10px;
  padding: 0;
  text-align: left;
  color: #999;
  font-size: 100%;
  text-decoration: none;
}

.author a {
  color: #999;
  text-decoration: none;
  font-size: 70%;
  text-transform: uppercase;
}

ul.pager li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}

.page-search section#main img {
  width: 50px;
  padding-right: 10px;
  float: left;
}

.page-search section#main dl {
  list-style: none;
}

.page-search section#main h2 span {
  color: #BBBBBB;
}

.page-search #edit-keys-wrapper {
  /*  float: left; */
}

.page-search #edit-limit-wrapper {
  clear: both;
}

.flip {
}

.ingress {
  padding: 3px;
  margin: 3px;
}

.ingress > .ingress {
  border: none;
  padding: 0px;
  width: auto;
  margin: 0px;
}

.ingress img {
  width: 95%;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.frontside, .frontside-full {
  padding: 3px;
  /*margin: 3px;*/
  width: 65%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.frontside-full {
  width: 100%;
}

.backside {
  padding: 5px;
  /*margin: 3px;*/
  width: 30%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #EAEAEA;
}

.paragraph-actions {
  display: none;
  width: 25px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #F0F0F0;
  background-color: #F0F0F0;
  padding: 7px;
  margin: -6px -6px 3px 3px;
  float: right;
  clear: both;
}

.paragraph > p {
  float: left;
}

.paragraph-actions > a {
  color: #111;
  padding: 7px 0px 0px 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.backside img {
  width: 98%;
}

.frontside img {
  width: 98%;
}

.contentbrowser {
  margin: 1.3em 0;
  width: 100%;
  overflow: auto;
}

.contentbrowser img {
  width: 100%;
}

.frame {
  background: #e5e5e5 url(../img/frame_bg.jpg) repeat-x;
  border: 1px solid #ccc;
  clear: left;
  padding: 10px;
  margin: 0 0 10px 0px;
}

  .frame .frame {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .frame p { margin: 0px; }
  .frame img.UMB_border { border: #afadad solid 1px; }
  .frame .UMB_float_left.imageframe { margin-right: 15px; }
  .frame .UMB_float_right.imageframe { margin-left: 15px; }

  .frame .UMB_float_none.imageframe {
    width: auto;
    padding: 0 10px;
  }

.utdanning_rdf_fieldset {
  width: 100%;
}

.footer-list {
  width: 280px;
  line-height: 30px;
}

.container {
  position: relative;
  -o-perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
}

.flip {
  -o-backface-visibility:hidden;
  -o-transform:translateX(0);
  -webkit-backface-visibility:hidden;
  -webkit-transform:translateX(0);
  -moz-backface-visibility:hidden;
  -moz-transform:translateX(0);
}
.flip.out {
  -o-transform: rotateY(-90deg) scale(.9);
  -o-animation-name: flipouttoleft;
  -o-animation-duration: 175ms;
  -webkit-transform: rotateY(-90deg) scale(.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  -moz-transform: rotateY(-90deg) scale(.9);
  -moz-animation-name: flipouttoleft;
  -moz-animation-duration: 175ms;
}
.flip.in {
  -o-animation-name: flipintoright;
  -o-animation-duration: 225ms;
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 225ms;
  -moz-animation-name: flipintoright;
  -moz-animation-duration: 225ms;
}
.flip.out.reverse {
  -o-transform: rotateY(90deg) scale(.9);
  -o-animation-name: flipouttoright;
  -webkit-transform: rotateY(90deg) scale(.9);
  -webkit-animation-name: flipouttoright;
  -moz-transform: rotateY(90deg) scale(.9);
  -moz-animation-name: flipouttoright;
}
.flip.in.reverse {
  -o-animation-name: flipintoleft;
  -webkit-animation-name: flipintoleft;
  -moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
  from { -webkit-transform: rotateY(0) ; }
  to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
  from { -moz-transform: rotateY(0); }
  to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
  from { -webkit-transform: rotateY(-90deg) scale(.9); }
  to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
  from { -moz-transform: rotateY(-90deg) scale(.9); }
  to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
  from { -webkit-transform: rotateY(90deg) scale(.9); }
  to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
  from { -moz-transform: rotateY(90deg) scale(.9); }
  to { -moz-transform: rotateY(0); }
}

#rights-block h3 { font-weight: bold; }

#rights-block ul {
  width: 100%;
  margin: 0 0 20px 0;
}

#rights-block ul li a {
  width: 100%;
  float: none;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

#rights-block #contentbrowser-node-title { font-size: 16px; }

.mediabrowser-rel-node:nth-child(2n-1) {
  margin: 20px -15px 0 -15px;
  padding: 15px;
  background: #f2f2f2;
}

div.content fieldset.licenses_dropdown {
  max-width: 100%;
  margin: 10px;
}

#block-ndla_handheld-handheld_licenses .content fieldset.licenses_dropdown {
  margin: 10px 0;

}

.licenses_dropdown .fieldset-wrapper h2 {
  display: block;
  clear: left;
  color: #555555;
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.2em;
}

.licenses_dropdown .fieldset-wrapper h3 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0px;
}

.licenses_dropdown .fieldset-wrapper li {
  list-style: none outside none;
}

.licenses_dropdown .fieldset-wrapper ul {
  padding: 0;
  margin-bottom: 0.5em;
}

.licenses_dropdown .fieldset-wrapper img {
  float: left;
  margin-right: 10px;
}

.licenses_dropdown .mediabrowser-rel-node {
  margin-top: 20px;
}

#block-ndla_handheld-handheld_footer {
  background-color: #20588F;
  color: white;
  padding: 20px;
  font-size: 12px;
  margin: auto;
}

#block-ndla_handheld-handheld_footer img {
 width: 100px;
}

#block-ndla_handheld-handheld_footer ul {
  list-style: none;
}
#block-ndla_handheld-handheld_footer ul li.first {
  margin-left: 0;
}
#block-ndla_handheld-handheld_footer ul li {
  float: left;
  margin-left: 10px;
}

.block-ndla_apachesolrmsf, #block-ndla_solr_ndla_solr_external_search {
  background: #f2f2f2;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.first-facet {
  border-top: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.last {
  border-bottom: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf .inner-wrapper {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.block-ndla_apachesolrmsf.first-facet .inner-wrapper {
  border-top: 0;
}
.block-ndla_apachesolrmsf .inner-inner-wrapper {
  padding: 15px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.last .inner-inner-wrapper {
  border-bottom: 2px solid #fff;
}
.block-ndla_apachesolrmsf h2,
#block-ndla_solr_ndla_solr_external_search h2 {
  font-size: 14px;
  color: #393939;
}
.block-ndla_apachesolrmsf ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  margin: 15px 0;
}
.block-ndla_apachesolrmsf ul ul {
  margin: 12px 0 12px 20px;
}
.block-ndla_apachesolrmsf .hits {
  font-size: 13px;
  color: #4d4d4d;
}
.block-ndla_apachesolrmsf li {
  margin: 12px 0;
}
.block-ndla_apachesolrmsf .field-wrap {
  margin-left: 28px;
}
.block-ndla_apachesolrmsf .remove-field-wrap {
  margin-left: 22px;
}
.block-ndla_apachesolrmsf li input {
  float: left;
}
.block-ndla_apachesolrmsf .facet-submit {
  font-size: 13px;
  color: #4d4d4d;
  padding: 2px 5px;
}
.block-ndla_apachesolrmsf .remove-field {
  width: 12px;
  height: 12px;
  background: url(../img/remove-field.png);
  float: left;
  margin-top: 2px;
}
.block-ndla_apachesolrmsf .remove-field:hover {
  background-position: 0 -12px;
}
.block-ndla_apachesolrmsf.current-search {
  margin-bottom: 15px;
  border: 1px solid #e6e6e6;
}
.block-ndla_apachesolrmsf.current-search .inner-wrapper {
  border-top: 0;
  border-bottom: 2px solid #fff;
}
.block-ndla_apachesolrmsf.current-search .inner-inner-wrapper {
  border-bottom: 0;
}
#search-page-content {
  margin-left: 335px;
}
#search-form {
  margin-bottom: 12px;
}
#search-form .form-item {
  margin: 0;
/*  display: table;
width: 100%; */
}
#search-form .container-inline {
  /*  display: table-row; */
}
#search-form .container-inline .form-item {
  vertical-align: middle;
  /*  display: table-cell; */
  padding-right: 46px;
  margin-bottom: 5px;
}

body.i18n-en #search-form .container-inline .form-item {
  padding-right: 25px;
}

body.page-search #page-title {
 display: none;
}

body.page-search #search-form {
  margin-top: 15px;
}

#search-form input {
  padding: 4px;
  font-size: 15px;
}
#search-form input.form-text {
  border: 2px solid #727272;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-position: 99% 7px;
  width: 100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
}
#search-form input:focus.form-text {
  outline: none;
  box-shadow: 0 0 6px #ABC4E8;
  border-color: #ABC4E8;
}

html.js input.form-autocomplete {
  background-image: url("../img/throbber.gif");
  background-position: 100% 2px;
  background-repeat: no-repeat;
}

#edit-search-block-form-1-wrapper input.form-autocomplete {
  background-position: 100% 8px;
}

/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

#edit-search-block-form-1-wrapper input.throbbing {
  background-position: 100% -12px;
}

#search-form input.form-text.throbbing {
  background-position: 99% -12px;
}
#search-form input.form-submit {
  padding: 4px 14px;
  color: #4d4d4d;
  margin: 0;
}

#search-form input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
#sort-by {
  text-align: right;
  margin: 0 0 12px;
  color: #808080;
  font-size: 13px;
}
#sort-by select {
  color: #393939;
}
hr {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
}
#main_content h1 {
  margin: 12px 0 4px;
  font-size: 22px;
  color: #000;
}
.hits {
  font-size: 12px;
  color: #808080;
}
ol {
  list-style: none;
  padding: 0;
  margin: 20px 0 30px;
}
ol li {
  margin-bottom: 20px;
}
ol li h2 {
  font-size: 15px;
  color: #2e6ab7;
  margin: 0 0 3px 0;
}
ol li h2 .type {
  font-size: 13px;
  color: #4d4d4d;
}
.item-list .pager {
  text-align: left;
}
.pager li a {
  color: #2E6AB7;
}
.messages {
  margin-bottom: 12px;
}
.search-results img {
  float: left;
  padding-right: 5px;
}
.search-results p {
  overflow: hidden;
}

#block-ndla_solr_ndla_solr_external_search {
  padding: 20px;
  margin-top: 20px;
}

#block-ndla_solr_ndla_solr_external_search ul {
  padding-top: 5px;
}

#block-ndla_solr_ndla_solr_external_search ul li {
  margin: 12px;
}

.google_plus {
  margin: 10px;
}

#main div.resourcemap #page-title {
  padding-bottom: 0px;
  margin-bottom: 10px;
}

#main .resourcemap ul { margin: 0 0 0 20px; }
#main .resourcemap > ul { padding: 0 10px 0 0; }

.resourcemap__item {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #EDEDED;
  display: block;
  box-sizing: border-box;
}

#main div.resourcemap span.resourcemap {
  color: #A0A0A0;
}

#readspeaker_button1 {
  margin: 0 0 20px 10px;
  display: none;
}

.rsbtn {
  z-index: 0;
}

#recommend-button {
  float: left;
  margin-left: 5px;
  marign-top: 4px; 
}

#recommend-count {
  border: 1px solid #cccccc;
  float: left;
  border-left: 0 none;
  padding: 3px 7px 3px 5px;
  background: url("../img/footer_bg.png") repeat-x scroll 0 0 #fcfeff;
  color: #222222; 
}

#recommend-arrow {
  background: url("../img/talk_arrow.png") no-repeat center center;
  height: 24px;
  width: 7px;
  float: left;
  margin-left: 2px; 
}

#feedback-recommend {
  float: left;
  margin-top: 3px;
}

#google-plusone-content {
  float: left;
  padding-left: 7px;
  margin-left: 7px;
  width: 70px;
  border-left: 1px dotted #CCC;
}

#facebook-like-content {
  border-left: 1px dotted #ccc;
  margin-left: 7px;
  padding-left: 7px;
  width: 200px;
  /*height: 24px;*/
  float: left;
}

.block-ndla_feedback {
  margin-top: 10px;
  padding-top: 10px;
  clear: both;
  border-top: 1px solid #EDEDED;
}

.block-ndla_feedback h2 {
  font-size: 18px;
  margin: 10px 0;
}


.block-ndla_ord h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #366A9A;
  text-transform: uppercase;
  margin-top: 15px;
}

.block-ndla_ord li {
  display: block;
  float: left;
  margin: 3px;
  padding: 5px;

  background-color: #EDEDED;
  text-decoration: none;

  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;


}
/* Editorial News content */

#editorial h2.block-tab {
  font-size: 18px;
  margin: 0 10px;
}

.editorial-news .news-item {
  margin: 10px;
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
}
.editorial-news .news-item img {
  float: left;
}

.editorial-news .news-item h2 {
  float: left;
  font-size: 16px;
  margin: 0 0 0 10px;
  padding: 0;
  display: block;
  width: 50%;
}

.editorial-news .news-item p {
  float: left;
  display: block;
  width: 50%;
  margin: 10px 0 0 10px;
  font-size: 14px;
}

.right-box {
  float: right;
  position: absolute;
  right: 0;
  margin: 5px;
  padding: 7px 10px;
  top: -5px;
}

.right-box .profile-image {
  position: absolute;
  left: 0;
  top: 0;
/*  width:45px;
  height: 45px; */
}

#user_dropdown_toggler {
  padding-left: 15px;
  text-align: right;
}

#user_dropdown_toggler.has_profile {
  padding-left: 65px;
}


.right-box p {
  margin-bottom: 0;
}

.right-box i.logged_in_user_img, .not_logged_in i {
  margin-right: 7px;
}

.right-box a i {
  text-decoration: none;
}

.right-box .item {
  margin-left: 1px;
  float: right;
  background: #366A9A;
  opacity: 0.975;
  color: #FFFFFF;
  position: relative;
  line-height: 30px;
  display: block;
  z-index: 200;
}
.right-box .item a {
  display: block;
  padding: 0 20px;
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
}

#notification_bubble {
  background: #c00000;
  border-radius: 50% 50% 50% 50%;
  float: right;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  position: absolute;
  right: -6px;
  text-align: center;
  top: -4px;
  width: 12px;
  height: 10px;
  font-weight: bold;
}

#notification_bubble.hidden {
  display: none;
}

.login-dropdown {
  display: none;
  background: #366A9A;
  display: none;
  position: absolute;
  text-align: right;
  top: 30px;
  right: 0;
  padding-top: 0;
  padding-bottom: 20px;
  width: 100%;
}

.right-box .login-dropdown a {
  line-height: 30px;
  white-space: nowrap;
  display: block;
  position: relative;
  padding-left: 50px;
  margin-top: 1.5em;
}

.right-box .logged_in,
.right-box .not_logged_in {
  display: none;
}

.right-box #user_dropdown_toggler i {
  margin-left: 10px;
}

.right-box .login-dropdown a:hover {
  text-decoration: underline !important;
}

.right-box .login-dropdown a:hover i {
  text-decoration: none !important;
}

.right-box .login-dropdown a i {
  position: absolute;
  top: 7px;
  left: 20px;
}

.right-box .disabled {
  text-decoration: line-through !important;
}

#seria_logout_link {
  font-size: 85%;
  font-weight: 800;
}

#notification_bubble a {
  padding: 0;
}

#notification_container {
  border-bottom: 1px solid white;
  font-size: 12px;
}

#notification_container li {
  padding-right: 20px;
}

#notification_container li a {
  padding-right: 0;
}

#notification_container i.icon-remove {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

#notification_container p.date {
  font-size: 10px;
}

#notification_container p.note {
  font-style: italic;
}

/* Media queries */
@media (min-width: 620px) {
  #sidebar-left {
    width: 50%;
  }
}

@media (min-width: 961px) {
  #sidebar-left {
    width: 30%;
  }

  #main {
    width: 70%;
  }
  body.page-oembed #main {
    width: 100%;
  }

  #main.hidden {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .content-wrapper {
    width: 100% !important;
  }
  .paragraph-actions {
    display: block;
  }
  .backside {
    width: auto;
    float: none;
    display: none;
  }
  .frontside {
    width: 65%;
    float: none;
  }
  .frontside-full {
    width: 100%;
  }

  fieldset.subject_dropdown ul li a {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
  }

  .editorial-news .news-item h2 {
    width: 100%;
    margin: 0;
  }

  .editorial-news .news-item p {
    width: 100%;
    margin: 0;
  }

  .right-box .login.item, .right-box .login-dropdown{
    max-width: 270px;
  }

  .applications-wrapper { width: 320px; }
  .applications { width: 96px; }
  .applications img { width: 96px; }
}

@media (max-width: 460px) {
  .right-box .seria_user_name {
    display: none;
  }
}

@media (max-width: 340px) {
  #sidebar-left {
    width: 90%;
  }

  .not_logged_in span {
    display: none;
  }

  #seria_login_link {
    padding-right: 0px;
    padding-left: 8px;
    width: 20px;
    font-size:16px;
  }
}

body.page-search #search-form, body.page-search .box {
  margin-left: 10px;
}

body.page-oembed .contentbrowser_caption {
  max-width: 100%;
}

body.page-oembed .backside {
  background: #e5e5e5 url(../../ndla2010/img/frame_bg.jpg) repeat-x;
  border: 1px solid #ccc;
  font-weight: 400;
  clear: left;
  padding: 10px;
  margin: 0 0 10px 0px; }
  .frame p {
    margin: 0px; }
  .frame p, .frame a, .frame li {
    font-weight: 400; }
  .frame .frame {
    background: none;
    border: none;
    padding: 0;
    margin: 0; }
  .frame img.UMB_border {
    border: #afadad solid 1px; }
  .frame .UMB_float_none.imageframe {
    width: auto;
    padding: 0 10px; }
  .frame .UMB_float_left.imageframe {
    margin-right: 15px; }
  .frame .UMB_float_right.imageframe {
    margin-left: 15px; }

/* CSS-klasser för Tiny-pluginen NDLA Table */
div.ndla_table {
  overflow: auto;
}

.ndla_table_cell {
  float: left;
}

.ndla_table_narrow {
  width: 100%; /* old value: 402px */
}

.ndla_table_narrow .ndla_table_two_cols .ndla_table_cell {
  width: 50%; /* old value: 200px */
}

.ndla_table_narrow .ndla_table_three_cols .ndla_table_cell {
  width: 133px;
}

.ndla_table_narrow .ndla_table_four_cols .ndla_table_cell {
  width: 99px;
}

.ndla_table_narrow .ndla_table_five_cols .ndla_table_cell {
  width: 79px;
}

.ndla_table_wide {
  width: 582px;
}

.ndla_table_wide .ndla_table_two_cols .ndla_table_cell {
  width: 290px;
}

.ndla_table_wide .ndla_table_three_cols .ndla_table_cell {
  width: 193px;
}

.ndla_table_wide .ndla_table_four_cols .ndla_table_cell {
  width: 144px;
}

.ndla_table_wide .ndla_table_five_cols .ndla_table_cell {
  width: 115px;
}

.ndla_table .ndla_table_row {
  clear: both;
  overflow: hidden;
}

.ndla_table_border {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ndla_table_border .ndla_table_cell {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.ndla_table_cell {
  padding-bottom: 1500px;
  margin-bottom: -1500px;
}

.ndla_table_cell_content {
  padding: 5px;
}

.ndla_table_cell_content p {
  padding: 0;
  margin: 0;
}

/* LANGUAGE SWITCHER */
.ndla_language_switcher div.ui-tabs-panel {
  border-width: 0px 2px 2px 2px;
  border-color: #20588F;
}

.ndla_language_switcher .ui-widget-header {
  background: transparent;
  border: none;
  border-bottom: 2px solid #20588F;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin:0;
}

.ndla_language_switcher .ui-tabs-nav .ui-state-default {
  background: #8BAAC7;
  border: none;
} 

.ndla_language_switcher .ui-tabs-nav .ui-state-active {
  background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
  border: none;
} 

.ndla_language_switcher .ui-tabs-nav a {
  color: #fff;
} 

.ndla_language_switcher .ui-tabs-nav li.ui-tabs-selected {
  background-color: #20588F;
}

.ndla_language_switcher li:nth-child(1) {
  margin-left:7px;
}

.ndla_language_switcher tbody {
  border-top:1px solid #ccc;
}
