#textselect {
  border: 1px solid black;
  position: absolute;
  display: none;
  float: left;
  background-color: white;
  z-index: 10;
}

#textselect ul li {
  list-style-type: none;
}

#textselect .plugin_item {
  line-height: 1.5em;
}

#textselect .plugin_item {
  margin: 10px;
}

#textselect .plugin_item img {
  margin-top: 3px;
}

#textselect ul, #textselect ul li {
  margin: 0;
  padding: 0;
  padding-left: 0;
}

#textselect ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#textselect .image_container {
  width: 30px;
  float: left;
}