#ndla-annotate-add-note {
  margin-bottom: 15px; 
}

/* Thread */

.ndla-annotate-thread {
  position: relative;
  border: 1px solid #E4E4E4;
  background-color: #F2F2F2;
  margin-bottom: 10px;
}

.ndla-annotate-thread.selected {
  background-color: #FFFFBD;
}

.ndla-annotate-arrow {
  background-image: url('../img/arrow.png');
  width: 24px;
  height: 18px;
  position: relative;
  top: -1px;
  left: -24px;
  margin-bottom: -19px;
  visibility: hidden;
}

.ndla-annotate-thread.selected .ndla-annotate-arrow, .ndla-annotate-insert .ndla-annotate-arrow {
  visibility: visible;
}

.ndla-annotate-thread textarea, .ndla-annotate-insert textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}


/* Blocks */

.ndla-annotate-block {
  border-top: 1px solid #E4E4E4;
  padding: 15px;
  color: black;
  font-size: 13px;
}

.ndla-annotate-text {
  margin-bottom: 15px; 
}

.ndla-annotate-actions {
  font-size: 12px; 
}

.ndla-annotate-date {
  font-size: 10px;
  color: #9C9C9C;
  float: right;
}

.ndla-annotate-cancel {
  float: right;
}

.ndla-annotate-edit, .ndla-annotate-delete {
  margin-right: 15px;
  visibility: hidden;
}

.ndla-annotate-thread.selected .ndla-annotate-edit, .ndla-annotate-thread.selected .ndla-annotate-delete {
  visibility: visible;
}

.ndla-annotate-form {
  display: none; 
}

/* Answer */
.ndla-annotate-thread .ndla-annotate-answer {
  display: none;
}

.ndla-annotate-thread.selected .ndla-annotate-answer {
  /* display: block; - disabled answers */
  display: none;
}

/* Selection */

.ndla-annotate-selection {
  background-color: #FFFFBD;
}

.ndla-annotate-selection.selected {
  background-color: #FFEC00;
}

/* Text select */

.ndla_annotate_textselect {
  display: none; 
}