#block-ndla_grep_ndla_ndla_grep_comptetence_aims > div.content > .item-list > ul > li {
  list-style: none;
  margin-left: 0;
}

#block-ndla_grep_ndla_ndla_grep_comptetence_aims .item-list ul li ul {
  list-style: square;
  padding: 5px 0;
}