#grep-tray {
  margin: 20px;
  font-size: 12px;
}

#grep-tray a {
  display: none;
}

#grep-tray a.visible {
  display: inline;
}

#grep-tray .ndla-grep-tray-curriculas a {
  display: inline-block;
}

#grep-tray .header {
  color: #999999;
}

#grep-tray a:hover {
  cursor: pointer; 
}

.ndla-grep-tray-curriculas {
  margin-bottom: 20px;
}

.ndla-grep-tray-curriculas a {
  color: white;
  background-color: #777678;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  line-height: 15px;
}

.ndla-grep-tray-curriculas a:hover {
  background-color: #114B7A;
  text-decoration: none;
}

.ndla-grep-tray-curriculas a.active {
  background-color: #366a9a;
}

.ndla-grep-tray-left {
  width: 30%;
  float: left;
  clear: both;
}

.ndla-grep-tray-left ul,
.ndla-grep-tray-aims ul {
  list-style: none;
  padding-left: 0;
}

.ndla-grep-tray-left ul li,
.ndla-grep-tray-aims ul li {
  margin-top: 10px;
}

.ndla-grep-tray-left ul li a {
  color: black
}

.ndla-grep-tray-left ul li a:hover {
  text-decoration: none;
}

.ndla-grep-tray-left ul li a i.fa-check-square {
  color: #33699C;
  display: none;
}

.ndla-grep-tray-left ul li a.active i.fa-check-square {
  display: inline;
}

.ndla-grep-tray-left ul li a i.fa-square-o {
  color: #999999;
  display: inline;
}

.ndla-grep-tray-left ul li a.active i.fa-square-o {
  display: none;
}

.ndla-grep-tray-levels {
  margin-right: 20px;
  margin-bottom: 20px;
}

.ndla-grep-tray-main-groups {
  margin-right: 20px;
}

.ndla-grep-tray-aims {
  width: 70%;
  float: left;
}

.ndla-grep-tray-aims a {
  text-decoration: underline; 
}