@CHARSET "UTF-8";

#right-wrapper #block-ndla_fagontologi_ndla_fagontologi_topics .content ul{
    list-style: none outside none;
    padding: 0;
}


#right-wrapper #block-ndla_fagontologi_ndla_fagontologi_topics li {
    float: left;
    margin: 0 15px 6px 0;
    padding-right: 15px;
    border-right: 1px solid #d6d6d6;
    white-space: nowrap;
}

#right-wrapper #block-ndla_fagontologi_ndla_fagontologi_topicsli.last {
    border-right: 0;
}

#fagOntologiDialog{
    display: none;
}

