/**
 * $Id$
 */

.flowplayer3-container {
  display: block;
  height: 375px;
  width: 500px;
  text-align:center;
  margin:0;
  padding:0;
  /**border:1px solid #999;**/
  /**background-image:url(../shared/film.png);**/
}
 
/* splash image */ 
.flowplayer3-container img.flowplayer3-play-button { 
    margin-top:146px; 
    border:0px;
} 

/* highlight player on hover */
.flowplayer3-container:hover { 
    /**border:1px solid #000;**/ 
}
