html {
  font-family: Verdana, sans-serif;
  color: #333;
  background: #d9d9d9;
}
body {
  font-size: 100%;
  margin:0;
}
table {
  border-collapse: collapse;
}
h1 {
  font-size: 24pt;
}

#sub-header .name .logout-url {
  color: #fff;
  text-decoration: none;
}

h4 {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #680148;
  text-align: center;
  font-size: 14pt;
}
h5 {
  margin: .4em 0;
  font-size: 1.1em;
}
h6 {
  margin: 0 0 .2em 0;
  font-size: 1em;
}
textarea {
  resize: none;
}
th {
  text-align: left;
}
td {
  padding: 0px;
}
input, textarea {
  outline: none;
}
img {
  border: none;
}
.button {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  text-align: center;
  /* IE FIX */
  zoom: 1;
  *display: inline;
}
.button div {
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  font-size: 11pt;
  padding-top: 9px;
  /* IE FIX */
  zoom: 1;
  *display: inline;
}
.button .start {
  background: url(../images/button.png) no-repeat 0px 0px;
  width: 14px;
}
.button .text {
  padding-left: 20px;
  padding-right: 20px;
  background: url(../images/button.png) repeat-x 0px -36px;
}
.button .pick {
  background: url(../images/button.png) no-repeat 0px -72px;
  width: 14px;
}
.button .end {
  background: url(../images/button.png) no-repeat 0px -108px;
  width: 14px;
}
.button:hover .start {
  background-position: 0px -144px;
}
.button:hover .text {
  color: #fff;
  background-position: 0px -180px;
}
.button:hover .pick {
  background-position: 0px -216px;
}
.button:hover .end {
  background-position: 0px -252px;
}
.button.from, .button.to {
  margin: 0 10px;
}
.button.from .text, .button.to .text {
  padding-left:0;
  padding-right:0;
}
.link {
  display: inline;
  cursor: pointer;
  font-size: 0.8em;
  text-decoration: underline;
  margin: 2px 0;
  color: #00f;
}
.error-dialog {
  position: absolute;
  z-index: 3;
  width: 220px;
  color: #fff;
  font-size: 11pt;
}
.error-dialog .header {
  background: url(../images/error-dialog.png) no-repeat 0px 0px;
  height: 13px;
}
.error-dialog .text {
  padding: 0 16px;
  background: url(../images/error-dialog.png) repeat-y -220px 0px;
}
.error-dialog .footer {
  height: 13px;
  background: url(../images/error-dialog.png) no-repeat -440px 0px;
}
.loading {
  margin: 0 auto;
  width: 200px;
  height: 18px;
  border: 1px #aaa solid;
}
.bar {
  width: 0px;
  background: #31c4e4 url(../images/gradients.png) repeat-x 0px -84px;
  height: 18px;
}

#messages {
  margin: 0 0 20px 0;
}
.messages {
  padding: 10px;
  margin: 10px 0;
  color: #fff;
}
.messages.status {
  background: #00b7dd url(../images/status-messages-background-gradient.png) repeat-x 0 100%;
  border: 1px #0578a2 solid;
}
.messages.warning {
  background: #f9b954 url(../images/warning-messages-background-gradient.png) repeat-x 0 100%;
  border: 1px #c3742f solid;
}
.messages.error {
  background: #df0101 url(../images/error-messages-background-gradient.png) repeat-x 0 100%;
  border: 1px #941b15 solid;
}
.messages .close {
  float: right;
  cursor: pointer;
  margin: 2px 2px 10px 10px;
  width: 13px;
  height: 13px;
  background: url(../images/header.png) no-repeat 0px 0px;
}
.messages ul {
  margin:0;
  padding-left: 25px;
}
.frame {
  background: #fff;
  border: 1px #9f9f9f solid;
  overflow: hidden;
  padding: 20px;
}
#library .frame, #workout .frame {
  padding-bottom: 50px;
}
.tip {
  color: #09c;
  font-weight: bold;
}
.tip-content {
  display: none;
}
#tip-dialog {
  position: absolute;
  top:250px;
  width: 320px;
  color: #fff;
  display: none;
}
#tip-dialog td {
  height: 20px;
}
#tip-dialog .header {
  height: 40px;
  background: url(../images/tip-dialog.png) no-repeat -320px 0px;
}
#tip-dialog.left .header {
  background-position: 0px 0px;
}
#tip-dialog .text {
  padding: 0 20px;
  background: url(../images/tip-dialog.png) repeat-y -960px 0px;
}
#tip-dialog .footer {
  height: 20px;
  background: url(../images/tip-dialog.png) no-repeat -640px 0px;
}

#header {
  position: relative;
  z-index: 1;
  background: url(../images/header.png) repeat-x 0px -13px;
  height: 83px;
}
#header .inner {
  width: 960px;
  margin: 0 auto;
}
#header .logo {
  margin-top: 18px;
  width: 100px;
  height: 45px;
  overflow: hidden;
  float: right;
  text-align: right;
}
#header h1 {
  margin: 0;
  padding: 15px 60px;
  color: #670047;
  font-style: italic;
  background: url(../images/header.png) no-repeat 0px -93px;
}

#sub-header {
  position: relative;
  background: url(../images/gradients.png) repeat-x 0px 0px;
  color: #fff;
  border: 1px #340033 solid;
  margin: -12px 0 20px 0;
  height: 40px;
}
#sub-header .name {
  font-size: 12pt;
  position: absolute;
  top: 10px;
  left: 10px;
}
#sub-header .help {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 23px;
  height: 22px;
  background: url(../images/calender-buttons.png) no-repeat 0px -100px;
}
#sub-header .help:hover {
  background-position: 0px -122px;
}
#sub-header .example-plan {
  display: none;
  text-align: center;
  position: absolute;
  font-size: 10pt;
  cursor: pointer;
  top: 10px;
  right: 40px;
}
#sub-header .example-plan div {
  display: inline-block;
  height: 19px;
  padding-top: 1px;
  vertical-align: bottom;
  background: url(../images/button-purple.png) no-repeat;
  width: 11px;
  /* IE FIX */
  zoom: 1;
  *display: inline;
}
#sub-header .example-plan:hover .left {
  background-position: 0px -60px
}
#sub-header .example-plan .text {
  width: auto;
  background-repeat: repeat-x;
  background-position: 0px -20px
}
#sub-header .example-plan:hover .text {
  background-position: 0px -80px
}
#sub-header .example-plan .right {
  background-position: 0px -40px
}
#sub-header .example-plan:hover .right {
  background-position: 0px -100px
}
#sub-header .header {
  font-size: 12pt;
  text-align: center;
  padding: 8px 0;
}
#sub-header h2 {
  font-size: 14pt;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  /* IE FIX */
  zoom: 1;
  *display: inline;
}
#sub-header .previous, #sub-header .next {
  width: 33px;
  height: 25px;
  display: none;
}
#sub-header .display {
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  /* IE FIX */
  zoom: 1;
  *display: inline;
}
#sub-header .previous {
  margin-right: 25px;
  background: url(../images/calender-buttons.png) no-repeat 0px -50px;
}
#sub-header .previous:hover {
  background-position: 0px -75px;
}
#sub-header .next {
  margin-left: 25px;
  background: url(../images/calender-buttons.png) no-repeat 0px 0px;
}
#sub-header .next:hover {
  background-position: 0px -25px;
}
#help {
  display: none;
  text-align: center;
}
#help .text {
  margin: 0 10px;
  text-align: left;
  overflow: hidden;
}
#help .text p {
  margin: 0 0 1em 0;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}
#wrapper .no-border-left, #lightbox-content .no-border-left {
  border-left: none;
}
#wrapper .no-border-right, #lightbox-content .no-border-right {
  border-right: none;
}
#wrapper .no-border-left-right {
  border-left: none;
  border-right: none;
}

#edit-submit, #start img {
  display: none;
}
#login {
  display: none;
  text-align: center;
}
#calender {
  display: none;
}
#calender table {
  font-size: 11pt;
}
#calender th {
  height: 5px;
  border: 1px #ccc solid;
  font-weight: normal;
  color: #666;
  vertical-align: top;
}
#calender .first th {
  height: 30px;
  padding: 0 5px;
}
#calender td {
  width: 130px;
  height: 94px;
  border: 1px #ccc solid;
  vertical-align: top;
  padding:0;
}
#calender table .day {
  background: #fff;
}
#calender table .day:hover {
  background: #f1ffff;
}
#calender table .today, #calender table .today:hover {
  background: #75d9ef;
}
#calender table .header {
  overflow: hidden;
  position: relative;
  font-size: .95em;
  background: #efefef; 
  color: #666;
}
#calender table .header .text {
  padding: 2px 2px 4px 4px;
  color: #fff;
  white-space: nowrap;
}
#calender table .header .date {
  float: right;
  font-weight: bold;
  padding: 2px 4px 4px 0;
}
#calender table .arrow-left, #calender table .arrow-right {
  float: left;
  width: 18px;
  height: 22px;
  background: url(../images/calender-buttons.png) no-repeat 0px -144px;
}
#calender table .round-left, #calender table .round-right {
  position: absolute;
  width: 7px;
  height: 22px;
  top: 0;
  background: url(../images/dialog.png) no-repeat -1561px 0px;
}
#calender table .round-left {
  left: 0;
}
#calender table .round-right {
  right: 0;
  background-position: -1568px 0px;
}
#calender table td .round-left, #calender table td .round-right {
  width: 6px;
}
#calender table td .round-left {
  left: 0;
  background-position: -1575px 0px;
}
#calender table td .round-right {
  right: 0;
  background-position: -1581px 0px;
}
#calender table td.today .round-left {
  background-position: -1587px 0px;
}
#calender table td.today .round-right {
  background-position: -1593px 0px;
}
#calender table .arrow-right {
  background-position: 0px -166px;
}
#calender table .prev .header {
  color: #999;
}
#calender table .periodic .header {
  cursor: pointer;
  background: url(../images/gradients.png) repeat-x 0px -84px;
  color: #fff;
}
#calender table .periodic .header:hover {
  background-position: 0px -400px;
}
#calender table .prev.periodic .header {
  color: #97d2de;
}
#calender table .workout, #calender table .create {
  padding: 2px;
  height: 18px;
  margin: 1px 1px 0;
  background: url(../images/gradients.png) repeat-x 0px -62px;
  cursor: pointer;
  font-size: 10pt;
  color: #fff;
  position: relative;
}
#calender table .create {
  display: none;
  color: #666;
  background-position: 0px -422px;
}
#calender table .create:hover {
  background-position: 0px -444px; 
}
#calender table .create span {
  padding: 0 3px 0 3px; 
}
#calender table .workout:hover {
  background-position: 0px -378px;
}
#calender table .workout.exercises span {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 1px;
  background: url(../images/calender-buttons.png) no-repeat 0px -187px;
}
#calender table .workout.exercises span:hover {
  background-position: -16px -187px;
}
#dialog {
  display: none;
  position: absolute;
  z-index: 2;
  top: 400px;
  left: 50%;
  width: 308px;
  min-height: 100px;
  margin: 0 0 0 -154px;
}
#dialog .body {
  background: url(../images/dialog.png) repeat-y -308px 0px;
  padding: 0 24px;
}
#dialog .header {
  height: 30px;
  background: url(../images/dialog.png) no-repeat 0px 0px;
}
#dialog .header.pointer {
  background-position: -1232px 0px;
}
#dialog .footer {
  height: 30px;
  background: url(../images/dialog.png) no-repeat -924px 0px;
}
#dialog .footer.pointer {
  background: url(../images/dialog.png) no-repeat -616px 0px;
}
#dialog .close {
  float: right;
  width: 13px;
  height: 13px;
  margin: 4px 0 4px 10px;
  background: url(../images/dialog.png) no-repeat -1548px 0px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
#dialog .close:hover {
  background-position: -1548px -17px;
}
#dialog .ok {
  margin: 10px 0 0;
}
#dialog input {
  margin: 4px 0;
  width: 220px;
  border: 1px #ddd solid;
  font-size: 12pt;
  font-family: Verdana;
  color: #670246;
}
#dialog p {
  margin:0 0 10px;
  position: relative;
  z-index: 2;
}
#dialog table {
  margin-top: 6px;
}

#date-picker-overlay {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#date-picker {
  display: none;
  position: absolute;
  z-index: 5;
  width: 200px;
  border: 1px #000 solid;
  background: #fff;
  font-size: 10pt;
}
#date-picker table {
  margin: 3px auto;
}
#date-picker th {
  width: 25px;
}
#date-picker td.day {
  text-align: center;
  cursor: pointer
}
#date-picker td.day:hover {
  background: #ccc;
}
#date-picker .current {
  font-weight: bold;
}
#date-picker .info, #date-picker .next, #date-picker .previous {
  background: #000;
  color: #fff;
}
#date-picker .next, #date-picker .previous {
  cursor: pointer;
  margin: 0 10px;
}
#date-picker .next {
  float: right;
}
#date-picker .previous {
  float: left;
}
#date-picker .info {
  padding: 2px 0;
  text-align: center;
}

#workout {
  display: none;
}
#workout p {
  margin-top: 0;
}
#workout .objective input {
  width: 400px;
}
#workout .table-wrap {
  overflow: hidden;
  background: #eee;
  margin:1px 0 10px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa, 0 3px 5px #aaa, 0 -3px 5px #aaa;
}
#workout .table-wrap.ie {
  margin-top: -1px;
  border: 1px solid #aaa;
}
#workout .table-top {
  padding: 4px 8px;
  background: #eee;
  width: 870px;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 3px 0 5px #AAA,-3px 0 5px #AAA,0 1px 0 black,0 -3px 5px #AAA;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-box-shadow: 3px 0 5px #AAA,-3px 0 5px #AAA,0 1px 0 black,0 -3px 5px #AAA;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-box-shadow: 3px 0 5px #AAA,-3px 0 5px #AAA,0 1px 0 black,0 -3px 5px #AAA;
}
#workout .table-top.ie {
  border: 1px solid #aaa;
  border-bottom: 1px solid #000;
}
#workout table {
  width: 100%;
}
#workout td, #workout th {
  border: 1px #000 solid;
  padding: 5px;
}
#workout tr.first th {
  border-top: none;
}
#workout .no-exercises td {
  text-align: center;
  padding: 20px 0;
}
#workout tfoot .last td {
  height: 26px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#workout .pick-exercises {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
  color: #00f;
}
#workout .pick-exercises:hover {
}
#workout table td {
  overflow: hidden;
}
#workout table .what {
  width: 300px;
}
#workout table .edit {
  width: 56px;
}
#workout table td.image {
  width: 100px;
}
#workout table td.details {
  width: 64px;
  padding-left: 0;
}
#workout table td.move {
  width: 43px;
  padding-right: 0;
}
#workout table div.details {
  cursor: pointer;
  width: 64px;
  height: 83px;
}
#workout table .remove {
  cursor: pointer;
  width: 38px;
  height: 82px;
}
#workout table .remove {
  background: url(../images/workout-buttons.png) no-repeat 0px -331px;
}
#workout table .remove:hover {
  background-position: 0px -413px;
}
#workout table .name {
  padding-right: 0;
}
#workout table .name div {
  overflow:hidden;
  width: 200px;
  font-size: 0.8em;
}
#workout table div.details {
  background: url(../images/workout-buttons.png) no-repeat 0px 0px;
}
#workout table div.details:hover {
  background-position: 0px -84px;
}
#workout table .move-up, #workout table .move-down {
  cursor: pointer;
  width: 43px;
  height: 41px;
}
#workout table .move-up {
  background: url(../images/workout-buttons.png) no-repeat 0px -167px;
}
#workout table .move-up.hover {
  background-position: 0px -208px;
}
#workout table .move-down {
  background: url(../images/workout-buttons.png) no-repeat 0px -249px;
}
#workout table .move-down.hover {
  background-position: 0px -290px;
}

#calender-buttons {
  margin: 20px;
  text-align: center;
  font-size: 12pt;
}
#library-buttons, #workout-buttons {
  margin-top: -45px;
  width: 960px;
  background: url(../images/fixed-button-top.png) no-repeat;
  padding-top: 21px;
}
#library-buttons.bottom, #workout-buttons.bottom {
  position: fixed;
  bottom: 0;
}
#library-buttons .content, #workout-buttons .content {
  background: #d9d9d9;
  padding-bottom: 2px;
  text-align: center;
  font-size: 12pt;
}
#dialog-buttons {
  text-align: center;
}

#library, #library-filters {
  display: none;
}
#library-filters {
  margin: 0 0 8px 8px;
}
#library-filters select {
  margin: 0 0 0 8px;
}
#library-exercises .exercise {
  margin: 8px;
  padding: 3px;
  border: 1px #aaa solid;
  float: left;
  background: #eee;
  text-align: center;
  border-collapse: separate;
  border-radius: 6px;
  box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
  -moz-border-radius: 6px;
  -moz-box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 2px 0 4px #ddd, -2px 0 4px #ddd, 0 2px 4px #ddd, 0 -2px 4px #ddd;
}
#library-exercises th {
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 10pt;
}
#library-exercises .add, #library-exercises .details {
  cursor: pointer;
  width: 50px;
  height: 25px;
}
#library-exercises .add {
  background: url(../images/library-buttons.png) no-repeat 0px -50px;
}
#library-exercises .add:hover {
  background-position: 0px -75px;
}
#library-exercises .add.selected {
  background: url(../images/library-buttons.png) no-repeat 0px -100px;
}
#library-exercises .add.selected:hover {
  background-position: 0px -125px;
}
#library-exercises .details {
  background: url(../images/library-buttons.png) no-repeat 0px -25px;
}
#library-exercises .details:hover {
  background-position: 0px 0px;
}

#lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-align: left;
  line-height: normal;
  background: url(../images/black-transparent-background.png);
}
#lightbox-content {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  background: #eee;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
#lightbox-content h4 {
  font-size: 1.2em;
}
#lightbox-close {
  text-align: right;
  padding: 10px;
}
#lightbox-close span {
  text-decoration: underline;
  cursor: pointer;
}
#lightbox-close span.print {
  color: #000;
  float: left;
}

#details {
  display: none;
}
#details h5 {
  border-bottom: 1px #666 solid;
  padding: 5px;
  margin: 0;
  font-size: 1em;
}
#details .content {
  overflow: hidden;
  height: 283px;
}
#details .inner {
  padding: 5px;
}
#details .illustration {
  float: left;
  width: 315px;
  border-top: 1px #666 solid;
  border-bottom: 1px #666 solid;
}
#details .illustration .inner {
  padding-left: 10px;
}
#details .muscles {
  float: right;
  width: 255px;
  border-top: 1px #666 solid;
  border-bottom: 1px #666 solid;
}
#details .illustration .inner {
  padding-right: 10px;
}
#details .description {
  border: 1px #666 solid;
  width: 328px;
  margin: 0 255px 0 315px;
}
#details p {
  margin: 0 0 1em 0;
}
#details .muscles img {
  position: absolute;
}
