#main_content {
  float: none !important;
  margin: 0 auto !important;
}
#main_1 {
  width: inherit !important;
}

.entries {
  margin-top: 20px;
}

td, th {
  line-height: 1.8em;
  padding-left: 5px;
  padding-right: 5px;
}

tr.even {
  background: #ffffff;
}

tr.odd {
  background: #F0F0EE;
}

.time {
  width: 150px;
}

.log-info {
  border: solid 1px #eee;
  padding: 10px;
}

.pager {
  margin-top: 20px;
}