.reminders li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/reminder-icon.png) no-repeat;
  color: #898989;
}

.reminders li:hover {
  color: #595959;
}

.JsDatePickBox {
  position: relative !important; 
}

#reminder_form {
  display: none;
}

#reminder_form textarea {
  width: 197px;
  height: 120px;
  margin-bottom: 10px;
}