.ndla-paragraphs-table-wrapper {
  width: 100%; 
}

.ndla-paragraphs-table-wrapper tbody {
  border: none; 
}

.ndla-paragraphs-add-wrapper {
  width: 50%;
}

.ndla-paragraphs-preview-wrapper {
  width: 50%;
  text-align: right;
}

input.paragraph-move-down,
input.paragraph-move-up {
  margin-right: 5px;
}