#my-learning-panel {
  color: #20588F;
  font-size: 21px;
  width: 100%;
  height: 0;
  position: relative;
  top: 0;
  right: 0;
  border-bottom: 1px solid #EDEDED;
  background-color: #FFF;
  overflow: hidden;

  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-transform-style: preserve-3d;
     -moz-backface-transform-style: preserve-3d;
          backface-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: height 0.15s ease-in;
     -moz-transition: height 0.15s ease-in;
       -o-transition: height 0.15s ease-in;
          transition: height 0.15s ease-in;
}

#my-learning-panel.is-open { height: 41px; }

#my-learning-panel i {
  display: block;
  margin: 10px 15px;
  float: right;
  width: 20px;
}

#my-learning-panel-dropdown {
  top: 42px;
  width: 300px;
  right: 10px;
  margin-left: 0;
  left: auto;
}

#my-learning-panel-dropdown .subject_dropdown li {
  color: #898989;
  line-height: 45px;
  border-bottom: 1px solid #eee;
  text-indent: 15px;
  font-size: 14px;
  display: block;
  text-indent: 0;
  margin-left: 10px;
}

#my-learning-panel-dropdown .subject_dropdown li:hover {
  color: #000;
}

#my-learning-panel-dropdown .subject_dropdown li i {
  margin-right: 5px;
}
