/* --------------------------- Main Containers ---------------------------------*/

.h5p-curriculum-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  color: #555;
}

.h5p-curriculum-popup-container .h5p-curriculum-popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #555;
  opacity: 0.75;
}

.h5p-curriculum-popup-container .h5p-curriculum-popup {
  position: relative;
  margin: auto;
  max-width: 800px;
  width: calc(100% - 3em);
  margin-top: 1.5em;
  height: calc(100% - 3em);
  background: #EEE;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

.h5p-curriculum-popup-container .h5p-curriculum-popup > * {
  padding: 0.5em 1em;
}

/* ------------------------------------ Header ----------------------------------------- */

.h5p-curriculum-popup-container .h5p-curriculum-header {
  height: 3em;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ccc;
}

.h5p-curriculum-popup-container .h5p-curriculum-header-text {
  padding: 1em 0.5em;
}

/* Remove dialog box */
.h5p-curriculum-popup-container .h5p-curriculum-header .h5p-curriculum-popup-exit:after {
  font-family: "H5PFontAwesome4";
  content: "\f00d";
  font-size: 1.5em;
}

.h5p-curriculum-popup-container .h5p-curriculum-popup-exit {
  position: absolute;
  top: 0.6em;
  right: 1em;
  cursor: pointer;
}

.h5p-curriculum-popup-container .h5p-curriculum-popup-exit:hover {
  color: #333;
}

/* ----------------------------- Search Container -------------------------*/

/* Search area */
.h5p-curriculum-popup-container .h5p-curriculum-search-container {
  width: 100%;
}

.h5p-curriculum-popup-container .h5p-curriculum-search-box {
  width: calc(100% - 3em);
  padding: 0.5em;
  border: 1px solid #ccc;
  border-top: 2px solid #ccc;
}

/* ------------------------- Dialog list view ----------------------------- */


.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry {
  cursor: pointer;
  width: 100%;
  color: #000;
}

.h5p-curriculum-view {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  overflow: auto;
}

/* -------------------- Different dialog list elements ---------------------*/

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry {
  padding-left: .5em;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry .name {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1.1em 0.5em 0;
}



.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-curriculum-instance {
  color: #2177DA;
  position: relative;
  color: #2177DA;
  /*border-bottom: 1px solid #ccc;*/
  padding: 0;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-curriculum-instance:after,
.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-set-instance:after {
   position: absolute;
   font-family: "H5PFontAwesome4";
   content: "\f107";
   font-size: 1.5em;
   right: 0.25em;
   top: 0.3em;
 }

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-set-instance {
  position: relative;
  color: #666;
  padding: 0;
  /*border-bottom: 1px solid #ccc;*/
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance {
  position: relative;
  background-color: #fff;
  padding: 0.5em 2em 0.5em 2.75em;
  margin-bottom: .2em;
  border-bottom: 2px solid #ccc;
  width: calc(100% - 4.75em);
}
.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance .name {
  border-bottom: none;
  padding: 0;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance:nth-of-type(2) {
  margin-top: .2em;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance:before {
  font-family: "H5PFontAwesome4";
  content: "\f096";
  position: absolute;
  left: 1em;
}

/* --------------------------------- Selected list items ---------------------*/

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry,
.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-view-list-entry.h5p-curriculum-instance,
.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-view-list-entry.selected > .h5p-view-list-entry:not(.h5p-list-search-hit) {
  display: none;
}
.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-curriculum-instance,
.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.selected > .h5p-view-list-entry,
.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-view-list-entry.h5p-list-search-hit {
  display: block;
}

.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-view-list-entry.h5p-list-search-hit .hit {
  background: #D0D5DB;
  padding: 1px 0;
  border-bottom: 1px solid #2177DA;
  border-top: 1px solid #2177DA;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-curriculum-instance.selected:after,
.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-set-instance.selected:after {
  content: "\f106";
}

.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-competence-aim-set-instance,
.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-curriculum-instance {
  cursor: inherit;
}

.h5p-curriculum-popup-container .h5p-view-list-container.h5p-list-search-mode .h5p-view-list-entry:after {
  visibility: hidden;
}


.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance.selected {
  background-color: #a1b6cc;
}

.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry.h5p-competence-aim-instance.selected:before {
  content: "\f14a";
  opacity: 0.5;
}

/* ---------------------- Bottom bar ----------------------------------*/

.h5p-curriculum-popup-container .h5p-bottom-bar {
  position: relative;
  background-color: #FAFAFA;
  border-top: 1px solid #ccc;
}

.h5p-curriculum-popup-container .h5p-bottom-bar-button {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.h5p-curriculum-popup-container .h5p-bottom-bar-button:before {
  font-family: "H5PFontAwesome4";
  content: "\f00c";
  margin-right: 0.75em;
}

.h5p-curriculum-popup-container .h5p-bottom-bar-text {
  display: inline-block;
  padding: 0.75em 0em;
}

/* Throbber */
.h5p-curriculum-popup-container .h5p-curriculum-popup .h5p-throbber-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 100%;
}

/* IE9 fix */
.h5p-curriculum-popup-container.ie9 .h5p-curriculum-popup .h5p-curriculum-view {
  height: 77%;
}

.h5p-curriculum-popup-container.ie9 .h5p-curriculum-popup .h5p-curriculum-view.has-bottom-bar {
  height: 67%;
}

.h5p-documentation-tool-main-content.responsive .h5p-curriculum-popup-container.ie9 .h5p-curriculum-view {
  height: 71%;
}

.h5p-documentation-tool-main-content.responsive .h5p-curriculum-popup-container.ie9 .h5p-curriculum-view.has-bottom-bar {
  height: 57%;
}


.h5p-curriculum-popup-container .h5p-view-list-container .h5p-view-list-entry .prefix {
  font-size: 0.8em;
  color: #888;
  padding-bottom: .2em;
}
