#edit-utdanning-rdf-table-title{
    /* width: 90px; */
}

table.utdanning_rdf_reverse {
  width: 100%;
}

td.utdanning_rdf_small {
  width: 10px;
}

td.utdanning_rdf_big {
  width: 400px;
}

.utdanning_rdf #autocomplete {
  width: 400px;
}

.utdanning_rdf #autocomplete {
background-position: 100% 5px;
min-width: 400px;
}

.utdanning_rdf select {
  width: 100px;
}
