.county {
  background: no-repeat 0 6px;
  height: 103px;
  position: absolute;
  width: 480px;
  margin-left: -65px;
  padding-left: 65px;
  top: 13px;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans',Arial,sans-serif;
}
.akershus.county {
  background-image: url("../img/akershus-tag.png");
}
.aust-agder.county {
  background-image: url("../img/aust-agder-tag.png");
}
.buskerud.county {
  background-image: url("../img/buskerud-tag.png");
}
.finnmark.county {
  background-image: url("../img/finnmark-tag.png");
}
.hedmark.county {
  background-image: url("../img/hedmark-tag.png");
}
.hordaland.county {
  background-image: url("../img/hordaland-tag.png");
}
.more-og-romsdal.county {
  background-image: url("../img/more-og-romsdal-tag.png");
}
.nordland.county {
  background-image: url("../img/nordland-tag.png");
}
.nord-trondelag.county {
  background-image: url("../img/nord-trondelag-tag.png");
}
.oppland.county {
  background-image: url("../img/oppland-tag.png");
}
.oslo.county {
  background-image: url("../img/oslo-tag.png");
}
.ostfold.county {
  background-image: url("../img/ostfold-tag.png");
}
.rogaland.county {
  background-image: url("../img/rogaland-tag.png");
}
.sogn-og-fjordane.county {
  background-image: url("../img/sogn-og-fjordane-tag.png");
}
.sor-trondelag.county {
  background-image: url("../img/sor-trondelag-tag.png");
}
.telemark.county {
  background-image: url("../img/telemark-tag.png");
}
.testcounty.county {
  background-image: url("../img/testcounty-tag.png");
}
.troms.county {
  background-image: url("../img/troms-tag.png");
}
.vest-agder.county {
  background-image: url("../img/vest-agder-tag.png");
}
.vestfold.county {
  background-image: url("../img/vestfold-tag.png");
}
