@CHARSET "UTF-8";

#th_sort_header_node, #th_sort_header_type, #th_sort_header_published  {
  background-color: #BBDADC;
  color: #36C;
  cursor: pointer;
  cursor: hand;
}

#janitor_get_next,#search_get_next,#delete_get_next {
	color: #36C;
  cursor: pointer;
  cursor: hand;
  float: right;
  margin-bottom: 6px;
}

#nav_buttons {
  margin-bottom: 10px;
}

#flush_search {
	background-color: #8EC1C4;
	color: #fff;
  cursor: pointer;
  cursor: hand;
  font-weight bold;
  padding: 5px 20px;
  float: right;
  display: none;
}

#janitor_get_previous,#search_get_previous, #delete_get_previous {
  color: #36C;
  cursor: pointer;
  cursor: hand;
  float: left;
  display: none;
  margin-bottom: 6px;
}

.edit-link, .delete-link {
	color: #36C;
  cursor: pointer;
  cursor: hand;
  padding: 2px;
}

#edit-window {
  width: 630px;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #333333;
  opacity: 0.8;
  border: solid 1px #0B6138;
  color: #0B6138;
  display: none;
}

#edit-window-close{
  background: url(../img/cross.png) no-repeat top left;
  float: right;
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  cursor: hand;
}

#topic_form {
 padding: 10px;
}
	
#th_sort_header_resource, #th_sort_header_language  {
  background-color: #BBDADC;
  color: #333;
}

#topic_form_messages{
  display: none;
}

#topic_form label, #topic_form legend {
  color: #f5f5f5;
}

.topic_form_error_message {
  max-width: 400px;
  padding: 4px;
  background-color: #F6CECE;
  border: solid 1px #B40404;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic_form_success_message {
  max-width: 600px;
  padding: 4px;
  background-color: #A9F5A9;
  border: solid 1px #0B6138;
  color: #0B6138;
  margin-top: 10px;
  margin-bottom: 10px;
}

#topic_table {
	clear: both;
  display: none;
}
