body #lightbox{
    text-align: left;
}

#lightbox .form-item{
    align: left;
    display: inline;
    width: 100px;

}
#lightbox .form-item label{
	display: inline;
}
#lightbox #pager{
	padding: 3px 0px 3px 0px;
	border-top: 2px solid #D3E7F4;
	clear: both;
}
#lightbox #pager a{
	size: 1.2em;
	color: #000000;
}
#lightbox #pager .pager-button{
    font-size: 1.2em;
}
#lightbox #pager a.pager-button{
    text-decoration: underline;
}
#lightbox #pager a.active{
	color: red;
}
#lightbox #thelist .down{
	background-image: url(ned.jpg); 
	background-repeat: no-repeat;
	background-position: right bottom; 
}
#lightbox #thelist .up{
	background-image: url(opp.jpg); 
	background-repeat: no-repeat;
	background-position: right bottom; 
}
#lightbox #thelist-container{
	width: 600px;
	display: block;
	border: 1px;
	float: left;	
}
#lightbox .thelist-item{
	margin: 1px;
	padding: 1px;
	float: left;
	width: 30%;
	height: 120px;
	border: 1px dotted black;
}
#lightbox .thelist-item img{
	display: block;
}
#lightbox .thelist-item h4{
	display: block;
	margin: 5px 0px 10px 0px;
	text-align: center;
}
#lightbox #thelist .hover{
	background: #a4a4a4;
	cursor: pointer;
}
#lightbox .nohits{
	margin: 10px;
	padding: 10px;
	height: 100px;	
	text-align: center;
}
#lightbox .nohits span{
	size: 40px;	
}
#modalContainer{
	overlay: visible;
}

.noderef_table td {
  padding-left: 5px;
}
