/*#header .center-layout {
  margin: 0;
}*/
#edit-mail-autocomplete-wrapper {
  width: 70%;
  float:left;
}

#edit-editor-checkbox-wrapper {
  width: 25%;
  float:left;
  padding-top: 26px;
  padding-left: 10px;
}

#mail_to_red {
  clear:both;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear-float {
  clear: both;
}

.region-right .block:last-child .content {
  border-bottom: none;
}

blockquote {
  padding-left: 1em;
  padding-right: 1em;
}

#autocomplete {
  border: 1px solid #FAFAFA;
  -o-box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  -ms-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);

  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  text-align: left;
  top: 27px;
}

#header #autocomplete, #search-page-content #autocomplete {
  margin: 0 !important;
}

#node-form #autocomplete {
  left: auto;
  top: auto;
}

#navigation #autocomplete {
  width: 100% !important;
}
#search-form #autocomplete {
  width: 552px !important;
}

#autocomplete ul {
  float: none;
  padding: 0;
  margin: 0;
}

#autocomplete li {
  float: none;
  padding: 0px 4px;
  line-height: 1.5em;
}
#navigation #autocomplete li {
  font-size: 12px;
  border-radius: 0;
}

#navigation #autocomplete li:hover,
#autocomplete li.selected, 
#autocomplete li:hover {
  background: #20588F;
  color: #FAFAFA;
}

.right_menu_not_collapsible .content {
  margin-bottom: 10px;
}

#right-wrapper h2 {
  font-size: 14px;
  color: #393939;
}

#right-wrapper h2.top {
  font-size: 14px;
  color: #1e1e1e;
}

#right-wrapper h2.top a {
  color: #fff;
}

.right_menu_up_arrow {
  margin-top: 8px;
  margin-right: 7px;
  width: 16px;
  float: right;
}

.right_menu_down_arrow {
  margin-top: 8px;
  margin-right: 7px;
  width: 16px;
  float: right;
  cursor: pointer;
  display: none;
}

#right-wrapper #keywords li {
  clear:none;
  display:block;
  float:left;
  height:auto;
  line-height:125%;
  margin-right:25px;
  width:auto;
  white-space: nowrap;
}

/** GREP-RESOURCE-LISTING **/
.grep-list-item {
  margin-bottom: 3px;
  clear: both;
}
.node.grep-list-item h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
.grep-listing-label {
  color: #808080;
}
.grep-list-item .ingressView {
  margin-bottom: 20px;
}
.grep-list-item p {
  margin-bottom: 0;
}
.grep-list-item h2 .type {
  font-size: 13px;
  color: #4d4d4d;
  margin-left: 5px;
}

#main_content h1.listing-title {
  color: #343434;
  font-weight: bold;
  margin: 10px 0 15px;
}

h2.aim-title {
  font-style: oblique;
  font-weight: normal;
  padding: 10px 0 0 54px;
  background: url(../img/grep-anforselstegn.png) top left no-repeat;
  min-height: 32px;
}
#grep_header h2.aim-title {
  font-size: 17px;
  line-height: 24px;
}
.node h2 {
  font-size: 18px;
}

.node h3 {
  font-size: 16px;
}

.sharingprograms, .tipForm {
  margin: 10px 0;
}

.sharingprograms ul {
  margin-top: 5px;
  padding: 0; 
}

.sharingprograms ul {
  list-style-type:none;
  width:19.3em;/*width:250px;*/
}
.sharingprograms {
  display: none;
}
.sharingprograms ul li {
  display:block;
  float:left;
  width:9.4em;
}

.node .ingress {
  line-height: 1.4;
  font-size: 1.1em;
  margin-bottom: 20px;
}
.node .ingress-bold {
  font-weight: 600;
}

.region-right .newest_content li {
  font-size: 90%;
  padding: 3px 0px 3px 0px;
  color: #666666;
}

/* --- start temasiden --- */
.subjectsColoumn {
	float:left;
	width:21em;
	margin-right:35px;
	margin-top:-10px;
}
.lastsubjects {
	margin-right:10px;
}
.subjectsColoumn h3, .subjectsImgCol h3 {
	color:#67164A;
	background:url(../img/h3border.gif) bottom left repeat-x;
	padding:5px 0px 3px 0px;
	margin:0px 0px 10px 0px;
	text-align:left;
}
.subjectsColoumn ul {
	list-style-type:none;
	/*margin-bottom:20px;*/
	padding: 0;
}
.subjectsColoumn a, .subjectsColoumn span {
	color:#444444
}
.subjectingressImg {
	float:left;
	width:auto;
	background-color:#ebebeb;
	padding:5px;
	margin-right:10px;
	margin-bottom:10px;
}
.subjectingressImg p {
	margin:5px 0px 5px 0px;
	font-style:italic;
}
/* --- ulisting tema med bilde --- */
.subjectsImgCol {
	width: 221px;
	text-align: center;
	padding: 6px 0px;
  float: left;
}

.subjectsImgCol h3 a {
	color:#9c5211;
}
.subjectsImgCol p {
	text-align:left;
	margin:0px 8px;
}
.subjectSelected, .subjectHover {
	background-color:#eaf2dd;
	border:solid 1px #c7c7c7;
}
/* --- utlisting tema med bilde --- */
/* --- tema menynavigajson  --- */
#fag-subpage #topic-menus {
	background-color:#f4f4f4;
	padding-top:15px;
	margin-bottom:20px;
  float:left;
}

#fag-subpage #topic-menus h3 {
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:1em;
	font-weight:bold;
	padding:0px 15px 5px 15px;
}

.h3_menuWithinTheme  {
  font-weight: normal;
  font-size: 0.8em;
}

.menuWithinTheme {
  text-align: left;
  width: 210px;
  padding: 7px 11px;
}


#topic-menus h2 {
	color:#9c5211;
	font-size:1.3em;
	background:url(../img/h3border.gif) bottom left repeat-x;
	padding-bottom:3px;
	margin-bottom:3px;
}
#topic-menus h2 .num {
	font-size:0.9em;
}
#subjectname {
	font-style:italic;
	padding:10px 15px;
}
#topic-menus li.hasChildrenExpanded a {
	background:url(../img/collapsegrey.gif) center left no-repeat;
}
#topic-menus li.hasChildrenExpanded li.noChildren a {
	background:none
}
#topic-menus li.hasChildrenCollapsed a {
	background:url(../img/expandgrey.gif) center left no-repeat;
}
#topic-menus li.hasChildrenCollapsed li a {
	background:none;
}
.nextprev {
	float:left;
}
.subjectMenuCount {
	float:right;
	padding-right:15px;
}
#topic-menus ul {
	padding: 0;
	list-style-type:none;
}
#subjectMenuNav {
	background-color:#ebebeb;
	padding:5px 15px;
}
/* --- slutt tema menynavigasjon --- */
#rightMargin .leftContent h4 {
	font-size:0.9em;
}
#rightMargin .leftContent {
	margin-bottom:-15px
}

#middleAndRight {
  margin-top: 7em;
}

#topic-menus li {
  background-repeat: no-repeat;
  background-position: top left;
  font-weight: 400;
  padding: 3px 0;
}

#topic-menus li.collapsed {
  background: url("../img/menu-expand.gif") no-repeat scroll 0 1px transparent;
}

#topic-menus li.expanded {
  background: url("../img/menu-collapse.gif") no-repeat scroll 0 1px transparent;
}

#topic-menus li a {
  font-size: 0.95em;
  color: #000000;
}
#topic-menus li a:hover {
  color: #20588F;
}

#subjectMenuNav div {
  font-size: 90%;
}

/* --- end temasiden --- */

/* --- start block icons --- */

.block_icon {
  background-image: url(../img/block_icons.png);
  width: 16px;
  height: 16px;
  background-position: 0px 20px;
  background-repeat: no-repeat;
}

#blog_0_icon {
  background-position: 0px 0px;
}

#ndla_tweet_0_icon {
  background-position: -20px 0px;
}

#masquerade_0_icon {
  background-position: -40px 0px;
}

#ndla_utils_search_filter_header_icon {
  background-position: -60px 0px;
}

#ndla_utils_search_sort_header_icon {
  background-position: -80px 0px;
}

#search_0_icon {
  background-position: -100px 0px;
}

#utdanning_block_right_newest_content_icon {
  background-position: -120px 0px;
}

#utdanning_rdf_utdanning_rdf_icon {
  background-position: -140px 0px;
}

#block-utdanning_block_right_author_solr {
  overflow: hidden;
}
.author-solr {
  width: 195px;
  float: left;
  padding-right: 15px;
}
.author-solr ul {
  padding: 0;
}
.author-solr li {
  list-style-type: none;
  margin-bottom: 7px;
  line-height: 1.4em;
}
.author-solr h2 {
  font-size: 1em;
  margin: 25px 0 15px;
  color: #000;
}
.author-solr-header h2 {
  padding-top: 20px;
  border-top: 1px solid #E9E9E9;
}
.author-solr-search-user {
  line-height: 20px;
  font-size: 12px;
  display: block;
}
.author-solr-clear {
  display: block;
  clear: both;
}
.author-solr .count {
  color: #4d4d4d;
}
#edit-body-wrapper {
  width: 670px;
}

.spelling-suggestions, .spelling-suggestions .form-item {
  margin-top: 0px;
  line-height: 1em;
}

.spelling-suggestions .form-item label {
  display: inline;
}

.spelling-suggestions {
  margin-top: 14px;
}

.ndla_ntb_date_small {
  color: #707070;
  font-size: 0.75em;
  line-height: 2em;
}

.ndla_ntb_date_large {
  color: #707070;
  font-size: 0.85em;
  line-height: 2em;
}

#ndla-ntb-ajax-container {
  margin-top: 20px;
  text-align: center;
}

.ndla-ntb-thumbnail {
  float: left;
  margin-right: 10px;
}

.ndla-ntb-article {
  margin-top: 3px;
}

.ndla-ntb-caption {
  font-style: italic;
  font-size: 0.8em;
}

#searchfilter ul li {
    clear: none;
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    width: auto;
}
#grepsearchfilter {
  margin: 30px 0 10px;
  padding: 20px 0 0px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e8e8e8;
}
#grepsearchfilter ul {
  padding-left: 0;
}
#grepsearchfilter  ul li{
    clear: none;
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    width: auto;
    list-style-type: none;
}
#grepsearchfilter ul li p.grep-listing-label {
    font-weight: bold;
    color: #808080;
    width: 140px;
    float: left;
    margin: 0 10px 10px 0;
}
#grepsearchfilter ul li ul.grep-listing-checkboxes {
  display: block;
  float: left;
  width: 440px;
}
#grepsearchfilter ul li ul.grep-listing-checkboxes li {
  display: inline;
  min-width: 130px;
  margin: 0 15px 10px 0;
}
.grep-listing-checkbox label {
  padding-left: 5px;
}
#resource_content .node h2 {
  font-size: 15px;
  margin-bottom: 0px;
}
#resource_content h2.grep-listing-header {
  font-weight: bold;
  margin-bottom: 4px;
}
#resource_content .hits {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}
#resource_content .grep-listing-count {
  color: #666666;
  font-size: 90%;
}
.grep-count {
  color: #4d4d4d;
}
#grep_header h2 {
    color: #444444;
    font-size: 110%;
}

.region-right .block .content {
  border-bottom: 1px solid #D6D6D6;
}
.region-learning .block:last-child {
  border-bottom: 0;
}

.max-links-show-more, a.less, a.more {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

#edit-field-ingressvispaasiden-value-wrapper {
  float: right;
  z-index: 1;
}

.embed-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 10000;
  box-shadow: 0px 0px 100px 10px #bbb
}
.embed-wrapper textarea {
  width: 400px;
  height: 150px;
}

.field-field--origin-url {
  margin: 10px 0 10px 0;
}

body.lightboxContent {
  margin: 20px; 
}

#navigation #subjects li span.beta,
.beta {
  background-color: #ededed;
  color: #000;
  font-size: 10px;
  padding: 0 10px 0 7px;
  margin-left: 10px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-family: Arial, sans-serif;
  position: relative;
  top: -2px;
  line-height: 20px;
  text-decoration: none !important;
}

#navigation #subjects li a:hover span.beta,
a:hover .beta {
  text-decoration: none;
}

.beta i {
  margin-right: 2px;
}

.coursebrowser {
  display: none;
  z-index: 200;
  position: absolute;
  left: 0;
  width: 1200px;
  background: #f1f1f1;
  padding: 20px;
  top: 110px;
  box-shadow: 0 0 10px #666;
}

.w960 .coursebrowser {
  width: 900px;
}
.coursebrowser .block-tab {
  padding: 0;
  background: none;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 1px 0 #fff;
  margin-bottom: 20px;
}
.coursebrowser ul {
  margin: 0 20px 0 0;
  padding: 0;
}
.coursebrowser ul li {
  list-style-type: none;
  padding: 0;
  margin: 0 0 5px 0;
}
.coursebrowser ul li a {
  line-height: 20px;
  display: block;
  font-size: 13px;
}
#header .coursebrowser ul li a:hover {
  text-decoration: underline;
}
.coursebrowser .column {
  float: left;
  width: 33%;
}
.coursebrowser .column:last-child {
  margin-right: 0;
}

.tabbed_content .content > div {
  display: none;
}

.tabbed_content .content div.active {
  display: block;
}

.tabbed_content ul.tabs {
  clear: both;
}
.tabbed_content ul.tabs li {
  float: left;
  margin-right: 10px
}
.tabbed_content ul.tabs li a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}
.tabbed_content ul.tabs li.active a {
  background: #20558A;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff !important;
}


.my_courses .subject_selector {
  display: block;
}

.my_courses .subject_link {
  display: block;;
}

.my_courses .subject_selector {
  display: none;
}

#save_courses_button {
  display: none;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px;
}

#navigation .subject_selector input {
  margin-right: 5px;
}

#navigation #subjects li span {
  padding: 0;
}

#subjects .column li {
  float: none;
}

.right-box {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.right-box .profile-image {
  position: absolute;
  left: 0;
  top: 0;
/*  width:45px;
  height: 45px; */
}

#user_dropdown_toggler {
  padding-left: 15px;
  text-align: right;
}

#user_dropdown_toggler.has_profile {
  padding-left: 65px;
}


.right-box p {
  margin-bottom: 0;
}

.right-box .item {
  margin-left: 1px;
  float: right;
  background: #ededed;
  opacity: 0.975;
  color: #111;
  position: relative;
  line-height: 45px;
  display: block;
  z-index: 200;
}
.right-box .item a {
  display: block;
  padding: 0 20px;
}

#notification_bubble {
  background: #c00000;
  border-radius: 50% 50% 50% 50%;
  float: right;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: -10px;
  width: 12px;
  font-weight: bold;
}

.dropdown {
  display: none;
  background: #ededed;
  color: #111;
  display: none;
  position: absolute;
  text-align: right;
  top: 45px;
  right: 0;
  padding-top: 0;
  padding-bottom: 20px;
  width: 100%;
}

.right-box .dropdown a {
  line-height: 30px;
  white-space: nowrap;
  display: block;
  position: relative;
  padding-left: 50px;
  margin-top: 1.5em;
}

.right-box .logged_in,
.right-box .not_logged_in {
  display: none;
}

.right-box #user_dropdown_toggler i {
  margin-left: 10px;
}

.right-box .dropdown a:hover {
  text-decoration: underline !important;
}

.right-box .dropdown a:hover i {
  text-decoration: none !important;
}

.right-box .dropdown a i {
  position: absolute;
  top: 7px;
  left: 20px;
}

.right-box .disabled {
  text-decoration: line-through !important;
}

#seria_logout_link {
  font-size: 85%;
  font-weight: 800;
}

#notification_bubble a {
  padding: 0;
}

#notification_container {
  border-top: 1px solid #AEAEAE;
}

#notification_container li {
  list-style: none outside none;
  border-bottom: 1px solid #111;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 20px;
  margin-left: -20px;
  line-height: 1em;
  text-align: justify;
}

#notification_container a {
  margin-top: 0;
  padding-right: 0;
  line-height: auto;
  padding-left: 20px;
}

#notification_container p.date {
  font-size: 80%;
  text-align: left;
  margin-left: 40px;
}

#notification_container p.note {
  margin-left: 40px;
  width: 440px;
}

i {
  margin-right: 5px;
}

#main_content i {
  margin-right: 0px;
}

#main_content fieldset i {
  margin-right: 15px;
}

.pipe {
  color: #888;
}

.big-icon {
  font-size: 1.5em;
  width:100%;
}

.coursebrowser_toggler.big-icon {
  line-height: 1.8em;
}

.fa-twitter {
  color: #1ab2e8;
}
.fa-facebook {
  color: #3b5998;
}

.tabbed_content li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}

#right-wrapper .region-learning {
  padding: 15px;
}

#right-wrapper .region-learning .block {
  padding: 0;
}

#right-tabs a.js-link.stickers {
  background-color: #FFFFBD;
}

#right-tabs .li-stickers {
  display: none;
}

#atlwdg-trigger {
  line-height:14px;
  height:14px ;
  top:auto;
  bottom:170px;
  position:fixed;
  background:none repeat scroll 0% 0% rgb(38, 102, 166);
  border-radius:0px;
  border:0px;
  color:#fff;
  z-index:9000000;
  box-shadow:0px 0px 0px;
  padding:10px;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
}

.dropdown ul#notification_container i.icon-remove {
  float: right;
  cursor: pointer;
}

.dropdown ul#notification_container a {
  margin-right: 20px;
}

#block-ndla_utils_red_editorial_comment img {
  margin-right: 6px; 
}

#block-ndla_utils_red_editorial_comment .content {
  padding-top: 5px;
  padding-bottom: 10px;
}

html.js fieldset.collapsible {
  min-height: 0px;
}

#topics-tray li:nth-child(4n+1) {
  clear:left;
}
.ndla_language_switcher div.ui-tabs-panel {
  border-width: 0px 2px 2px 2px;
  border-color: #20588F;
}

.ndla_language_switcher .ui-widget-header {
  background: transparent;
  border: none;
  border-bottom: 2px solid #20588F;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin:0;
}

.ndla_language_switcher .ui-tabs-nav .ui-state-default {
  background: #8BAAC7;
  border: none;
}

.ndla_language_switcher .ui-tabs-nav .ui-state-active {
  background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
  border: none;
}

.ndla_language_switcher .ui-tabs-nav a {
  color: #fff;
}

.ndla_language_switcher .ui-tabs-nav li.ui-tabs-selected {
  background-color: #20588F;
}

.ndla_language_switcher li:nth-child(1) {
  margin-left:7px;
}