#content_node {
	font-size: 80%;
	width: 569px;
	float:left;
	clear: both;
	height: 100%;
	margin-left: 30px;		
}

#content_node #bar {
	margin: 8px 0px 3px 0px;
	text-align: right;
}

#content_node #node_header {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0px 8px 0px;
	color: #343434;
}

#content_node #authors {
	color: #BBB;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 90%;
}

#content_node #header_box {
	display: table;
	height: 100%;	
}

#content_node #image_full {
	margin: 0px 0px 15px 0px;
	background-color: #CCC;
}

#content_node #image_medium {
	margin: 0px 10px 15px 0px;
	background-color: #CCC;
	float:left;
	clear: left;
	width: 371px;
	overflow: hidden;
	position: relative;
}

#content_node #image_small {
	margin: 0px 10px 15px 0px;
	background-color: #CCC;
	float:left;
	clear: left;
	width: 212px;
	overflow: hidden;
	position: relative;
}

#content_node #image_full .photographer,
#content_node #image_medium .photographer,
#content_node #image_small .photographer {
	font-style: italic;
	padding: 4px;
	font-size: 90%;
	color: #111;
	font-weight: bold;
}

#content_node #ingress {
	font-weight: bold;
	font-style: italic;
	color: #111;
	font-size: 105%;		
}

#content_node .subheader {
	font-size: 120%;
	margin: 20px 0px 15px 0px;
	font-weight: bold;
}

#content_node .bread {

}

#content_node .image_container {
	float: right;
	clear: right;
	border: 1px solid #CCC;
	background-image: url('../imgs/image_gradient.jpg');
	background-repeat: repeat-x;
	background-color: #e5e5e5;
	padding: 10px;
	margin: 5px 0px 8px 10px;
	width: 184px;
}

#content_node .image_container .image {
	background-color: #CCC;	
}

#content_node .image_container .image .photographer {
	font-style: italic;
	padding: 4px;
	font-size: 90%;
	color: #111;
	font-weight: bold;	
}

#content_node .image_container .image_note {
	margin: 10px 0px 10px 0px;	
}

#content_node .quote {
	font-size: 110%;
	color: #336669;
	font-style: italic;
	/*line-height: 1.5;*/
	font-weight: bold;
	margin: 15px 0px 15px 0px;	
}

#content_node .quote p {
	padding: 6px 0px 0px 30px;
	margin: 0px;	
}

#content_node .infobox {
	background-image: url('../imgs/info_bg.jpg');
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
}

#relations, #metadata {
	margin-left:0px;
	height: 24px;
	padding:2px;
	width: 300px;
	padding-left:15px;
	background-image: url('../imgs/greymenu_line_arrow.png');
	background-repeat: no-repeat;
	color:#FFFFFF;
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-size:12px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
}

#relations_text, #metadata_text{
	margin-top: 6px;
	margin-left: 5px;
	position: absolute;
}

#relations_icon, #metadata_icon {
	margin-top:4px;
	margin-right:3px;
	width: 16px;
	float:right;
	cursor: pointer;
}

#relations_up_arrow, #metadata_up_arrow {
	margin-top:8px;
	margin-right:7px;
	width: 16px;
	float:right;
	cursor: pointer;
}

#relations_down_arrow, #metadata_down_arrow{
	margin-top:8px;
	margin-right:7px;
	width: 16px;
	float:right;
	cursor: pointer;
	display: none;
}

.right_content {
	/*font-family: helvetica, tahoma, verdana;*/
	margin-left: 11px;
	background-color: #fff;
	padding: 2px;
}

.right_content a {
	color: #0134ce;	
}

.right_content li{
	border: 0px;	
}

.right_content li p {
	text-transform: uppercase;
	border-bottom: 1px solid #666;
	color: #666;
	font-size: 75%;
	padding-top: 8px;	
	padding-bottom: 4px;
	font-weight: bold;
}
.right_content li ul {
	
	padding: 6px 6px 6px 10px;
}

.right_content li .big_margin li {
	color: #666;	
}

.right_content li .big_margin li a {
	display: block;
	margin-bottom: 15px;	
}


.right_content li ul li {
	text-transform: none;
	border-bottom: 0px;
	margin:5px 0px 5px 0px;	
	font-size: 80%;	
}

.right_content li ul .bold {
	font-weight: bold;
	margin-right: 10px;
	text-transform: uppercase;
	line-height: 1.5;	
}

.right_content li ul .image span {
	vertical-align:top;
	padding-left: 5px;
	position:relative;
	top: 10px;
}