@-webkit-keyframes buttons-slide-up {
  0%   { bottom: -45px; }
  100% { bottom: 0; }
}

@-moz-keyframes buttons-slide-up {
  0%   { bottom: -45px; }
  100% { bottom: 0; }
}

@keyframes buttons-slide-up {
  0%   { bottom: -45px; }
  100% { bottom: 0; }
}

.ndla_utils_red--buttons {
  background: white;
  width: 683px; height: 18px;
  padding: 15px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 5px #d6d6d6;
  z-index: 100;
}

.ndla_utils_red--buttons.fixed {
  border-bottom: 0;
  position: fixed;
  bottom: 0;
  -webkit-animation: buttons-slide-up 0.35s ease-out;
     -moz-animation: buttons-slide-up 0.35s ease-out;
       -o-animation: buttons-slide-up 0.35s ease-out;
          animation: buttons-slide-up 0.35s ease-out;
}

#edit-cookbook-recipe-history-wrapper + fieldset,
#edit-cookbook-recipe-video-wrapper + fieldset,
#edit-group-Nynorsk-text-tekst-Nynorsk-wrapper + fieldset,
#edit-group-nb-text-tekst-nb-wrapper + fieldset,
#edit-group-English-text-tekst-English-wrapper + fieldset {
  display:none;
}
