.ndla_utils_red_search_table td {
  padding: 0px 10px 0px 0px;
}

.ndla_utils_node_search .form-item {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.ndla_utils_node_search select {
  width: 200px;
}

.ndla_utils_node_search td {
  width: 300px;
}

.ndla_utils_red_search_table td.author {
  white-space: nowrap;
}


.ndla_utils_red_search_table tr.odd {
  background-color: #eee;
}

.ndla_utils_red_search_table tr.even {
  background-color: #fefefe;
}

.ndla_utils_node_search tbody {
  border: none;
}

.ndla_utils_node_search td {
  padding: 5px 5px 5px;
}

.cb_false, .bad_link {
  border: solid 3px red;
  background-color: red;
  display: block;
}

span.bad_link {
  display: inline;
}

#user_create-wrapper, #responsible_user-wrapper {
  margin-bottom: 2px;
  position:relative;
}

#user_create-wrapper #autocomplete {
  position:absolute;
}

table.ndla-utils-red-report {
  width: 100%;
  margin: 0px;
  table-layout: fixed;
}

.ndla-utils-red-report thead {
  font-weight: bold;
  border-bottom: 3px solid #cccccc;
}

.ndla-utils-red-report td {
  padding: 0.5em !important;
}

.ndla-utils-red-report tr {
  border-bottom: 1px solid #cccccc;
}

.ndla-utils-red-report tr:nth-child(2n+2) {
  background-color: #eeeeee;
}
