#resourcemap {
  width: 800px;
  position: absolute;
  font-size: 0.929em;
  white-space: normal;
  overflow: hidden;
  left: 50%;
  margin-left: -400px;
  top: 113px;
  z-index: 100;
}

#resourcemap h3, #resourcemap .h3 {
  font-size: 1.231em;
  font-weight: normal;
  display: block;
}

#resourcemap .term {
  font-weight: normal;
  text-align: left;
}

#resourcemap .top, #resourcemap .bottom {
  width: 800px;
  height: 15px;
  background: url('../images/disp/resourcemap_top_bottom.png') no-repeat 0 0;
}

#resourcemap .bottom {
  background-position: 0 -15px;
}

#resourcemap .middle {
  width: 770px;
  height: 480px;
  padding: 0 15px;
  position: relative;
  background: url('../images/disp/resourcemap_middle.png') repeat-y 0 0;
}

#resourcemap .term {
  position: absolute;
  width: 160px;
  margin-top: 5px;
  display: none;
}
#resourcemap .term-0 {
  display: block;
}

#resourcemap .term .top, #resourcemap .term .bottom {
  width: 160px;
  height: 15px;
  background: url('../images/disp/resource_top_bottom.png') no-repeat 0 0;
}

#resourcemap .term .bottom {
  background-position: 0 -15px;
}

#resourcemap .term .middle {
  width: 140px;
  height: auto;
  background: url('../images/disp/resource_middle.png') repeat-y 0 0;
  padding: 0 17px;
}

#resourcemap .main {
  width: 210px;
  position: absolute;
}

#resourcemap .main h2 {
  font-size: 1.231em;
  font-weight: bold;
  white-space: normal;
}

#resourcemap .main .top, #resourcemap .main .bottom {
  width: 210px;
  height: 15px;
  background: url('../images/disp/course_top_bottom.png') no-repeat 0 0;
}

#resourcemap .main .bottom {
  background-position: 0 -15px;
}

#resourcemap .main .middle {
  width: 190px;
  height: auto;
  background: url('../images/disp/course_middle.png') repeat-y 0 0;
  padding: 0 10px;
  text-align: center;
}

#resourcemap-loader {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: 500px;
}
#resourcemap-loader.wide {
  margin-left: 640px;
}

#resourcemap .close-window {
  position: absolute;
  z-index: 101;
  right: 12px;
  top: -3px;
}

#resourcemap .breadcrumbs {
  position: relative;
  z-index: 2;
  color: #595959;
  height: 16px;
  overflow: hidden;
}

#resourcemap .content-main {
  position: relative;
}

#resourcemap-drawings {
  position: absolute;
}

#resourcemap .clickable {
  cursor: pointer;
  color: #2E6AB7;
}
#resourcemap .clickable:hover {
  text-decoration: underline; 
}

#resourcemap .navigation {
  position: absolute;
  bottom: 0;
}

#resourcemap #resourcemap-loader {
  margin-left: -16px;
  top: 220px;
}