#user-guide-movie {
  border: 1px solid #ECECEC;
  width: 611px;
  height: 344px;
  background: url('../images/disp/user_guide_bg.jpg') repeat-x bottom left #fafafa;
  margin: 10px 0;
  overflow: hidden;
}

#user-guide-links {
  padding: 0;
  margin: 0;
}

#user-guide-links li {
  list-style: none;
  width: 122px;
  float: left;
  margin-bottom: 10px;
  min-height: 12px;
}

#user-guide-links a {
  color: #393939;
}

#user-guide-links li a:hover {
  color: #88BCBF;
  text-decoration: none;
}

.user-guide-hover {
  width: 12px;
  height: 12px;
  display: none;
  margin-left: 3px;
  background-position: -64px -366px;
  vertical-align: -2px;
}

.user-guide-hover {
  *vertical-align: 2px; /* IE7 hack */
}

#user-guide-links li a:hover .user-guide-hover {
  display: inline-block;
}

#user-guide-text {
  color: #80a2a4;
  margin-top: 111px;
}

#user-guide-text div {
  text-align: center;
}

#user-guide-top-text {
  font-size: 32px;
}

#user-guide-bottom-text {
  font-size: 55px;
  font-weight: bold;
}

#user-guide-thumbnail {
  margin-left: 177px;
  display: none;
  border: 1px solid #ECECEC;
}

#user-guide-thumbnail-holder {
  height: 60px;
}

#user-guide-loader {
  margin: 150px 290px;
}

.vjs-big-play-button {
  display: none !important;
}

.vjs-no-video {
  display: none !important;
}