.reminders > ul > li {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 2px 2px 2px 20px;
  background: url(../images/reminders.png) no-repeat;
  color: #626262;
}

.reminders > ul > li:hover {
  color: #898989;
}

.JsDatePickBox {
  position: relative !important; 
}

#reminder_form {
  display: none;
}

#reminder_form textarea {
  width: 197px;
  height: 120px;
  margin-bottom: 10px;
}

#reminder_form input {
  margin-bottom: 15px; 
}

.reminders #current {
  display: none;
  color: #898989;
  margin: 2px 2px 2px 20px;
}

.reminders #current li {
  list-style: disc;
  margin-left: 20px;
}